@import url(fonts.css);
@import url(default.css);
@import url(common.css);
@import url(layout.css);


/*
    플러그인을 사용할 때 이미 적용되어 있는 css를 변경하려면
    1. 동일한 이름의 body태그 선택자를 추가하는 방법
        strong
        body strong - 이 경우 body strong이 우선순위가 높음
    2. 속성값에 뒤에 !important를 추가
        우선순위가 1순위가 됨
        (important는 해제가 어려움. 모바일에서도 적용됨)
*/

h2 {
    font-family: 'JejuGothic'; 
}
.life .tit h2 {
    margin: 245px 0 24px 0;
    font-size: 2.500rem;
    text-align: center;
    color: var(--txt-color-tit);
}
.life .tit p {
    text-align: center;
}
.life .photo_wrap {
    margin: 63px 0 0 0;
    text-align: center;
}
.life.end .photo_wrap .photo {
    border-radius: 0;
}

/*jquery로 넓이 제어*/
.life .photo_wrap .photo {
    overflow: hidden;
    border-radius: 20px;
    width: 832px;
    height: 496px;
    transition: 1s;
    display: inline-block;
    /*text-align: center로 정렬하게 하기 위해*/
}
.life.end .photo_wrap .photo {
    border-radius: 0;
}
.life .photo_wrap .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.major {
    background-image: url(../images/major_bg.png);
}
.major .inter,
.major .sur,
.major .obste,
.major .emer {
    display: flex;
    margin-top: 130px;
}
.major .sur,
.major .emer {
    text-align: right;
    align-items: right;
}
.major .txt {
    width: 618px;
    margin: 69px 0 0 24px;
}
.major .pic {
    width: 511px;
}
.major .pic .img {
    width: 100%;
}
.major strong {
    color: var(--color-main1);
}
.major h2 {
    color: var(--txt-color-tit);
    font-size: var(--tit-txt-size);
    margin: 31px 0 25px 0;
}
.major .more {
    margin-top: 48px;
    font-size: 0;
    line-height: 0;
}
.major .more a {
    display: block;
    width: 49px;
    height: 49px;
    position: relative;
}
.major .emer .more a {
    justify-content: flex-end;
}
.major .more a span {
    position: absolute;
    transition: 0.5s;
    top: 0;
    left: 0;
    width: 49px;
    height: 49px;
    background-image: url("data:image/svg+xml,%3Csvg width='49' height='49' viewBox='0 0 49 49' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.9975 26.0022H0.0371094V22.998H22.9975V0.0375977H26.0017V22.998H48.9621V26.0022H26.0017V48.9626H22.9975V26.0022Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.major .more a:hover span {
    width: 49px;
    height: 49px;
    transform: rotate(225deg);
}

.place {
    position: relative;
}
.place .tit {
    margin: 197px 0 95px 0;
}
.place .tit strong {
    font-size: 1.250rem;
    color: var(--color-main1);
}
.place .tit h2 {
    font-size: 2.500rem;
    margin: 13px 0 26px 0;
}
.place .list ul {
    display: flex;
}
.place .list ul li {
    width: 20%;
    color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: 0.5s;
}
.place .list ul li.pla1 {
    background-image: url(../images/place01.png);
}
.place .list ul li.pla2 {
    background-image: url(../images/place02.png);
}
.place .list ul li.pla3 {
    background-image: url(../images/place03.png);
}
.place .list ul li.pla4 {
    background-image: url(../images/place04.png);
}
.place .list ul li.pla5 {
    background-image: url(../images/place05.png);
}
.place .list ul li::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    content: "";
}
.place .list ul li a {
    display: block;
    height: 618px;
    position: relative;
    z-index: 10;
}
.place .list ul li a .inner {
    margin: 0 5%;
    /* a를 기준으로 정렬
       마우스 오버했을때 효과를 부드럽게 주기 위해 absolute */
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 90%;
    transition: 0.5s;
}
.place .list ul li a .inner h3 {
    font-size: 1.250rem;
    line-height: 1;
    margin: 0 0 15px 0;
    transition: 0.5s;
    white-space: nowrap;
}
.place .list ul li a .inner p {
    display: none;
    opacity: 0;
    transition: 0.5s;
}
@media screen and (min-width:769px){
    /*하나의 li에 오버했을때*/
    .place .list ul li.on a .inner {
        bottom: 55px;
    }
    /*
    .place .list ul li.off {
        width: 17%;
    }
        17 * 3 = 51 + 49 = 100
    */
    .place .list ul li.off a .inner {
        bottom: 40px;
    }
    .place .list ul li.on {
        width: 80%;
    }
    .place .list ul li.on::before {
        opacity: 0;
    }
    .place .list ul li.off::before {
        opacity: 0.5;
    }
    .place .list ul li.off a {
        opacity: 0.8; /*a안에 있는 모든 요소가 opasity 0.8*/
    }
    .place .list ul li.on a .inner h3 {
        font-weight: 700;
    }
    .place .list ul li.on a .inner p {
        display: block;
        opacity: 1;
    }
}
.place .more {
    position: absolute;
    top: 0;
    right: 12%;
}
.place .more a {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 103px;
    height: 103px;
}
.place .more a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='103' height='103' viewBox='0 0 103 103' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_0_1' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='103' height='103'%3E%3Crect width='103' height='103' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_0_1)'%3E%3Cpath d='M49.9975 53.0022H27.0371V49.998H49.9975V27.0376H53.0017V49.998H75.9621V53.0022H53.0017V75.9626H49.9975V53.0022Z' fill='%233D3D3D'/%3E%3C/g%3E%3Crect x='1' y='1' width='101' height='101' rx='49' stroke='%233D3D3D' stroke-width='2'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}

.welcome {
    display: flex;
}