/*header, footer처럼 페이지에 공통으로 배치되는 요소의 css*/

.skip_nav {
    position: absolute;
    left: 0;
    top: -100px; /*focus가 될때만 나타나야함 - 상단에 숨겨져 있어야함*/
    z-index: 99999999999999; /*꼭 맨 상단에 배치*/
    width: 100%;
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #FFF7EC;
    text-align: center;
    color: #007D57;
    font-size: 18px;
}
.skip_nav a:focus {
    top: 100px; /*a가 포커스 되면 올라간 만큼 다시 내려옴*/
}

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 100;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin-top: 27px;
}
header .logo a {
    display: block;
    width: 168px;
    height: 40px;
    font-size: 0;
    line-height: 0;
}

header .gnb button {
    display: none;
}
header .gnb .gnb_wrap ul.depth1 {
    display: flex;
    text-align: center;
    color: var(--txt-color-tit);
}
header .gnb .gnb_wrap ul.depth1 > li {
    width: 165px;
}
header .gnb .gnb_wrap ul.depth1 > li > a {
    display: block;
    line-height: 100px;
    font-weight: 600;
}
header .gnb .gnb_wrap ul.depth1 > li > a:hover {
    color: var(--color-main1);
}
header .gnb .gnb_wrap ul.depth2 {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    display: none;
    text-align: center;
}
header .gnb .gnb_wrap ul.depth1 > li > a.menu_over ul.depth2 {
    display: block;
}
header .gnb .gnb_wrap ul.depth2 > a {
    display: block;
    width: 200px;
}
header .gnb .gnb_wrap ul.depth3 > li > a {
    display: block;
    width: 200px;
    height: 32px;
}

header .tnb {
    width: 330px;
    height: 100px;
    font-weight: 600;
    color: var(--txt-color-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 0.80rem;
}
header .tnb a {
    display: block;
    width: 90px;
    line-height: 50px;
}
header .tnb .global > a {
    width: 34px;
    height: 50px;
    font-size: 0;
    line-height: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_38_158' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='34' height='34'%3E%3Crect width='34' height='34' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_38_158)'%3E%3Cpath d='M16.9998 30.4583C15.1546 30.4583 13.4133 30.1046 11.7759 29.3973C10.1384 28.6899 8.71045 27.7268 7.49188 26.508C6.27307 25.2894 5.30998 23.8614 4.60259 22.224C3.8952 20.5865 3.5415 18.8452 3.5415 17C3.5415 15.1402 3.8952 13.3952 4.60259 11.7651C5.30998 10.135 6.27307 8.71062 7.49188 7.49205C8.71045 6.27324 10.1384 5.31014 11.7759 4.60276C13.4133 3.89537 15.1546 3.54167 16.9998 3.54167C18.8597 3.54167 20.6047 3.89537 22.2348 4.60276C23.8649 5.31014 25.2892 6.27324 26.5078 7.49205C27.7266 8.71062 28.6897 10.135 29.3971 11.7651C30.1045 13.3952 30.4582 15.1402 30.4582 17C30.4582 18.8452 30.1045 20.5865 29.3971 22.224C28.6897 23.8614 27.7266 25.2894 26.5078 26.508C25.2892 27.7268 23.8649 28.6899 22.2348 29.3973C20.6047 30.1046 18.8597 30.4583 16.9998 30.4583ZM16.9998 28.3032C17.7228 27.3444 18.3313 26.3773 18.8252 25.4019C19.3192 24.4265 19.7215 23.3604 20.0322 22.2034H13.9675C14.2964 23.3967 14.7033 24.4811 15.1883 25.4564C15.673 26.4318 16.2769 27.3807 16.9998 28.3032ZM14.2565 27.9137C13.7134 27.1345 13.2257 26.2487 12.7934 25.2563C12.3611 24.2637 12.0251 23.2461 11.7854 22.2034H6.97975C7.72799 23.6746 8.73146 24.9107 9.99017 25.9115C11.2489 26.9122 12.671 27.5796 14.2565 27.9137ZM19.7432 27.9137C21.3287 27.5796 22.7508 26.9122 24.0095 25.9115C25.2682 24.9107 26.2717 23.6746 27.0199 22.2034H22.2142C21.929 23.2551 21.5702 24.2772 21.1379 25.2698C20.7058 26.2624 20.2409 27.1437 19.7432 27.9137ZM6.08867 20.0784H11.3551C11.2661 19.5519 11.2015 19.0356 11.1614 18.5297C11.1215 18.0239 11.1015 17.514 11.1015 17C11.1015 16.486 11.1215 15.9761 11.1614 15.4704C11.2015 14.9644 11.2661 14.4481 11.3551 13.9216H6.08867C5.95243 14.4028 5.84807 14.9031 5.77559 15.4225C5.70286 15.942 5.6665 16.4678 5.6665 17C5.6665 17.5322 5.70286 18.058 5.77559 18.5775C5.84807 19.0969 5.95243 19.5972 6.08867 20.0784ZM13.4798 20.0784H20.5199C20.6087 19.5519 20.6731 19.0402 20.7133 18.5435C20.7532 18.0467 20.7731 17.5322 20.7731 17C20.7731 16.4678 20.7532 15.9533 20.7133 15.4565C20.6731 14.9598 20.6087 14.4481 20.5199 13.9216H13.4798C13.391 14.4481 13.3265 14.9598 13.2864 15.4565C13.2465 15.9533 13.2265 16.4678 13.2265 17C13.2265 17.5322 13.2465 18.0467 13.2864 18.5435C13.3265 19.0402 13.391 19.5519 13.4798 20.0784ZM22.6445 20.0784H27.911C28.0472 19.5972 28.1516 19.0969 28.2241 18.5775C28.2968 18.058 28.3332 17.5322 28.3332 17C28.3332 16.4678 28.2968 15.942 28.2241 15.4225C28.1516 14.9031 28.0472 14.4028 27.911 13.9216H22.6445C22.7336 14.4481 22.7981 14.9644 22.8383 15.4704C22.8782 15.9761 22.8981 16.486 22.8981 17C22.8981 17.514 22.8782 18.0239 22.8383 18.5297C22.7981 19.0356 22.7336 19.5519 22.6445 20.0784ZM22.2142 11.7966H27.0199C26.2627 10.3072 25.2661 9.07116 24.03 8.08846C22.794 7.10601 21.3651 6.43403 19.7432 6.07255C20.2863 6.89705 20.7694 7.79887 21.1925 8.77803C21.6158 9.75694 21.9564 10.7631 22.2142 11.7966ZM13.9675 11.7966H20.0322C19.7033 10.6123 19.2896 9.52107 18.7912 8.52303C18.2925 7.52499 17.6954 6.5829 16.9998 5.69677C16.3043 6.5829 15.7071 7.52499 15.2085 8.52303C14.71 9.52107 14.2964 10.6123 13.9675 11.7966ZM6.97975 11.7966H11.7854C12.0433 10.7631 12.3839 9.75694 12.8072 8.77803C13.2303 7.79887 13.7134 6.89705 14.2565 6.07255C12.6254 6.43403 11.1942 7.10837 9.9629 8.09555C8.73134 9.08249 7.73696 10.3162 6.97975 11.7966Z' fill='%23666666'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header .tnb .global > a:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_96_344' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='34' height='34'%3E%3Crect width='34' height='34' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_96_344)'%3E%3Cpath d='M16.9993 30.4583C15.1541 30.4583 13.4128 30.1046 11.7754 29.3972C10.138 28.6898 8.70996 27.7268 7.49139 26.5079C6.27258 25.2894 5.30949 23.8614 4.6021 22.2239C3.89471 20.5865 3.54102 18.8452 3.54102 17C3.54102 15.1401 3.89471 13.3952 4.6021 11.7651C5.30949 10.1349 6.27258 8.7106 7.49139 7.49203C8.70996 6.27323 10.138 5.31013 11.7754 4.60274C13.4128 3.89535 15.1541 3.54166 16.9993 3.54166C18.8592 3.54166 20.6042 3.89535 22.2343 4.60274C23.8644 5.31013 25.2887 6.27323 26.5073 7.49203C27.7261 8.7106 28.6892 10.1349 29.3966 11.7651C30.104 13.3952 30.4577 15.1401 30.4577 17C30.4577 18.8452 30.104 20.5865 29.3966 22.2239C28.6892 23.8614 27.7261 25.2894 26.5073 26.5079C25.2887 27.7268 23.8644 28.6898 22.2343 29.3972C20.6042 30.1046 18.8592 30.4583 16.9993 30.4583ZM16.9993 28.3032C17.7223 27.3444 18.3308 26.3773 18.8247 25.4019C19.3187 24.4265 19.721 23.3604 20.0317 22.2034H13.967C14.2959 23.3967 14.7028 24.4811 15.1878 25.4564C15.6725 26.4318 16.2764 27.3807 16.9993 28.3032ZM14.256 27.9136C13.7129 27.1345 13.2252 26.2487 12.7929 25.2563C12.3606 24.2637 12.0246 23.2461 11.785 22.2034H6.97927C7.7275 23.6746 8.73097 24.9107 9.98968 25.9115C11.2484 26.9122 12.6705 27.5795 14.256 27.9136ZM19.7427 27.9136C21.3282 27.5795 22.7503 26.9122 24.009 25.9115C25.2677 24.9107 26.2712 23.6746 27.0194 22.2034H22.2137C21.9285 23.255 21.5698 24.2772 21.1374 25.2698C20.7053 26.2624 20.2404 27.1437 19.7427 27.9136ZM6.08818 20.0784H11.3546C11.2656 19.5519 11.201 19.0356 11.1609 18.5296C11.121 18.0239 11.1011 17.514 11.1011 17C11.1011 16.486 11.121 15.9761 11.1609 15.4703C11.201 14.9644 11.2656 14.4481 11.3546 13.9216H6.08818C5.95195 14.4028 5.84759 14.9031 5.7751 15.4225C5.70238 15.942 5.66602 16.4678 5.66602 17C5.66602 17.5322 5.70238 18.058 5.7751 18.5774C5.84759 19.0969 5.95195 19.5972 6.08818 20.0784ZM13.4793 20.0784H20.5194C20.6082 19.5519 20.6726 19.0402 20.7128 18.5434C20.7527 18.0467 20.7726 17.5322 20.7726 17C20.7726 16.4678 20.7527 15.9533 20.7128 15.4565C20.6726 14.9598 20.6082 14.4481 20.5194 13.9216H13.4793C13.3905 14.4481 13.326 14.9598 13.2859 15.4565C13.246 15.9533 13.2261 16.4678 13.2261 17C13.2261 17.5322 13.246 18.0467 13.2859 18.5434C13.326 19.0402 13.3905 19.5519 13.4793 20.0784ZM22.6441 20.0784H27.9105C28.0468 19.5972 28.1511 19.0969 28.2236 18.5774C28.2963 18.058 28.3327 17.5322 28.3327 17C28.3327 16.4678 28.2963 15.942 28.2236 15.4225C28.1511 14.9031 28.0468 14.4028 27.9105 13.9216H22.6441C22.7331 14.4481 22.7976 14.9644 22.8378 15.4703C22.8777 15.9761 22.8976 16.486 22.8976 17C22.8976 17.514 22.8777 18.0239 22.8378 18.5296C22.7976 19.0356 22.7331 19.5519 22.6441 20.0784ZM22.2137 11.7966H27.0194C26.2622 10.3072 25.2656 9.07114 24.0296 8.08845C22.7935 7.10599 21.3646 6.43402 19.7427 6.07253C20.2858 6.89703 20.7689 7.79886 21.192 8.77801C21.6153 9.75693 21.9559 10.7631 22.2137 11.7966ZM13.967 11.7966H20.0317C19.7028 10.6122 19.2892 9.52105 18.7907 8.52301C18.2921 7.52497 17.6949 6.58288 16.9993 5.69676C16.3038 6.58288 15.7066 7.52497 15.208 8.52301C14.7095 9.52105 14.2959 10.6122 13.967 11.7966ZM6.97927 11.7966H11.785C12.0428 10.7631 12.3834 9.75693 12.8067 8.77801C13.2298 7.79886 13.7129 6.89703 14.256 6.07253C12.6249 6.43402 11.1937 7.10835 9.96241 8.09553C8.73086 9.08248 7.73647 10.3162 6.97927 11.7966Z' fill='%23007D57'/%3E%3C/g%3E%3C/svg%3E%0A");
}