/*header, footer처럼 페이지에 공통으로 배치되는 요소의 css*/

.skip_nav {
    position: absolute;
    left: 0;
    top: -100px; /*focus가 될때만 나타나야함 - 상단에 숨겨져 있어야함*/
    z-index: 99999999999999; /*꼭 맨 상단에 배치*/
    width: 100%;
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #FF3535;
    text-align: center;
    color: #fff;
    font-size: 18px;
}
.skip_nav a:focus {
    top: 100px; /*a가 포커스 되면 올라간 만큼 다시 내려옴*/
}

header {
    position: relative;
    z-index: 100; /*z-index를 적용하려면 position이 있어야함*/
}

/*1024 이상 - pc버전*/
@media screen and (min-width:1025px){
    header .header_top {
        height: 97px;
        display: flex;
        justify-content: space-between;
    }
    header .header_top .tnb ul {
        display: flex;
    }
    header .header_top .tnb ul li a {
        display: block;
        padding: 1.500rem 1.250rem;
        font-size: 0.938rem;
        color: var(--txt-color-gray);
        position: relative; /*before 정렬의 기준*/
    }
    header .header_top .tnb ul li a:hover {
        color: var(--color-main1);
    }
    header .header_top .tnb ul li:first-child a {
        padding-left: 0;
    }
    header .header_top .tnb ul li:last-child a {
        padding-right: 0;
    }
    header .header_top .tnb ul li a::before {
        position: absolute;
        left: 0;
        top: calc(50% - 2px);
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background-color: #ccc;
        content: "";
    }
    header .header_top .tnb ul li:first-child a::before {
        display: none;
    }
    header .header_sub {
        height: 53px;
        position: relative; /*logo 정렬의 기준*/
        font-family: 'pretendard';
    }
    header .header_sub .logo {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        /*좌우의 가운데*/
        top: -73px;
    }
    
    header .header_sub .gnb .gnb_open,
    header .header_sub .gnb .gnb_close {
        display: none; /*숨김*/
    }
    header .header_sub .gnb .gnb_wrap ul.depth1 {
        display: flex;
    }
    header .header_sub .gnb .gnb_wrap ul.depth1 > li {
        width: 16.66%;
        min-width: 160px;
        /*ul 넓이의 16%정도의 넓이를 갖음 - 단 최소 180px는 줌*/
        text-align: center;
        position: relative; /*depth 정렬의 기준*/
    }
    header .header_sub .gnb .gnb_wrap ul.depth1 > li > a {
        font-size: 1.125rem;
        color: var(--txt-color-tit);
        line-height: 53px;
        display: block;
        white-space: nowrap;
    }
    header .header_sub .gnb .gnb_wrap ul.depth1 > li.over > a {
        color: var(--color-main1);
    }
    header .header_sub .gnb .gnb_wrap ul.depth1 > li.over > a > span {
        position: relative; /*after 정렬의 기준*/
    }
    header .header_sub .gnb .gnb_wrap ul.depth1 > li.over > a > span::after {
        position: absolute;
        left: -5px;
        bottom: -16px;
        z-index: 10;
        width: calc(100% + 10px);
        height: 3px;
        background-color: var(--color-main1);
        content: "";
    }
    header .header_sub .gnb .gnb_wrap ul.depth2 {
        /*header 밖에 존재하는 요소 position:absolute*/
        position: absolute;
        left: 0;
        top: 53px;
        width: 100%;
        display: none;
        font-size: 1.125rem;
        padding-top: 33px;
    }
    header.menu_over .header_sub .gnb .gnb_wrap ul.depth2 {
        display: block;
    }
    header.menu_over .header_sub .gnb .gnb_wrap ul.depth2 > li > a {
        display: block;
        line-height: 2.5;
        white-space: nowrap; /*2차메뉴는 1줄로*/
    }
    header.menu_over .header_sub .gnb .gnb_wrap ul.depth2 > li > a:hover {
        color: var(--color-main1);
    }
    header.menu_over::before {
        position: absolute; /*header 기준으로 정렬*/
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 491px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        content: "";
    }
    header.menu_over::after {
        position: absolute;
        left: 0;
        top: 150px;
        width: 100%;
        height: 1px;
        background-color: #ededed;
        content: "";
    }
    /*header가 고정되었을 때*/
    header.fixed {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
    }
    header.menu_over.fixed::after {
        top: 70px;
    }
    header.fixed + .container {
        margin-top: 70px;
    }
    header.fixed .wrapper {
        width: auto;
        margin: 0 20px;
    }
    header.fixed .header_top {
        display: none;
    }
    header.fixed .header_sub {
        height: 70px;
        display: flex;
        justify-content: space-between;
    }
    header.fixed .header_sub .logo {
        position: relative; /*absolute 해제*/
        left: auto;
        transform: translate(0, 0); /*기존값 삭제*/
        /*좌우의 가운데*/
        top: auto;
    }
    header.fixed .header_sub .logo a::before {
        top: 10px;
    }
    header.fixed .header_sub .gnb .gnb_wrap ul.depth1 > li > a {
        line-height: 70px;
    }
    header.fixed .header_sub .gnb .gnb_wrap ul.depth1 > li:last-child
    header.fixed .header_sub .gnb .gnb_wrap ul.depth1 > li.over > a > span::after {
        bottom: -25px;
    }
}/*media*/

header .header_sub .logo a {
    display: block;
    width: 71px;
    height: 49px;
    font-size: 0;
    line-height: 0;
    position: relative; /*before 정렬기준*/
}
header .header_sub .logo a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/common/paul_logo.svg) no-repeat center center / contain;
    content: "";
}
@media screen and (max-width:1300px){
    header .header_sub .gnb .gnb_wrap ul.depth1 > li > a {
        font-size: 1rem;
    }
    header.fixed .header_sub .gnb .gnb_wrap ul.depth1 > li > a {
        line-height: 72px;
    }
}
@media screen and (max-width:1024px) and (min-width:1025px) {
    /*1300 ~ 1025 사이*/
    header .header_sub .gnb .gnb_wrap ul.depth1 > li > a {
        font-size: 1.20rem;
    }
    header .header_top .tnb ul li a {
        font-size: 0.85rem;
    }
}/*media*/
/*1024 이하 - 모바일*/
@media screen and (max-width:1024px){
    header {
        height: 50px;
    }
    header .header_top {
        display: none;
    }
    header .header_sub .logo a {
        width: 48px;
        height: 33px;
    }
    header .header_sub .logo a::before {
        top: 8px;
    }
    header .header_sub .gnb .gnb_wrap {
        display: none;
    }
    header .header_sub .gnb .gnb_wrap {
        display: none;
        position: absolute; /*header를 기준으로 정렬*/
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh; /*브라우저 높이*/
        background-color: #fff;
        font-family: 'pretendard';
    }
    header .header_sub .gnb .gnb_wrap .depth1 {
        margin-top: 50px;
        height: calc(100% - 50px);
        overflow-y: auto;
    }
    header .header_sub .gnb .gnb_wrap .depth1 > li > a {
        display: block;
        padding: 0 20px;
        white-space: nowrap; /*메뉴 한줄로 구현*/
        line-height: 4;
        font-size: 1rem;
        color: var(--txt-color-tit);
    }
    header .header_sub .gnb .gnb_wrap .depth1 > li > a > span {
        position: relative; /*after 정렬의 기준*/
        font-size: 1.125rem;
    }
    header .header_sub .gnb .gnb_wrap .depth1 > li > a > span::after {
        position: absolute;
        right: -19px;
        top: 5px;
        width: 11px;
        height: 6px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='11px' height='6px'%3E%3Cimage x='0px' y='0px' width='11px' height='6px' xlink:href='data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAGCAQAAAC/O6xzAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfoCAwKBwl3b2yDAAAATElEQVQI113KsRFAQABE0efIZRKjAVWo5HJ9GQXoRC6VKsDMGQGBs+H7W3S9xn9r5TRpM5zFYDPYc5QCWZhFicAnvEhZP6/D4jI+yA2OoxQTvfTRVQAAAABJRU5ErkJggg==' /%3E%3C/svg%3E");
        content: "";
    }
    header .header_sub .gnb .gnb_wrap .depth1 > li.open > a > span {
        color: var(--color-main1);
    }
    header .header_sub .gnb .gnb_wrap .depth1 > li.open > a > span::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='10px' height='6px'%3E%3Cimage x='0px' y='0px' width='10px' height='6px' xlink:href='data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGBAMAAAAI3hL1AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAD1BMVEXoCk3oCk3oCk3oCk3///+PTxigAAAAA3RSTlMAAZeNBvN4AAAAAWJLR0QEj2jZUQAAAAd0SU1FB+gIDAoQEWGAcEMAAAAkSURBVAjXY2BgEGQAAkYlASApZKwIZCobGwkAmcZAjjKQNAIAInoC/lvJ6rkAAAAASUVORK5CYII=' /%3E%3C/svg%3E");
    }
    header .header_sub .gnb .gnb_wrap .depth2 {
        display: none;
        margin: 0 20px;
        padding: 20px;
        background-color: var(--color-main1);
        color: #fff;
    }
    header .header_sub .gnb .gnb_wrap .depth1 > li.open .depth2 {
        display: block;
    }
    header .header_sub .gnb .gnb_wrap .depth2 > li > a {
        display: block;
        line-height: 2.5;
    }
    header .header_sub .gnb .gnb_open,
    header .header_sub .gnb .gnb_close {
        position: absolute; /*header 기준으로 정렬*/
        right: 0;
        top: 0;
        width: 50px;
        height: 100%;
        font-size: 0;
        line-height: 0;
    }
    header .header_sub .gnb .gnb_open::before,
    header .header_sub .gnb .gnb_close::before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
    }
    header .header_sub .gnb .gnb_open::before {
        width: 30px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30px' height='20px'%3E%3Cimage x='0px' y='0px' width='30px' height='20px' xlink:href='data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAQAAAAwokVPAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfoCAkMDx2WP752AAAAS0lEQVQ4y2NgOMHwn0h4El2AiYGVgVjAji7A+J9ovZiAiQK9o5pJB6eITiTo8BQTwy+yrf01mkiGjmbGs4z/ccCzhG3+g1PuDyHNAPMrTqIMgXJyAAAAAElFTkSuQmCC' /%3E%3C/svg%3E");
    }
    header .header_sub .gnb .gnb_close::before {
        width: 30px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='21px' height='21px'%3E%3Cimage x='0px' y='0px' width='21px' height='21px' xlink:href='data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAQAAAADHm0dAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfoCAkMEAVICSi+AAAA6UlEQVQoz33RMU4CQRTG8f+uJrYUWqj5tqAxMaE3Nhqw8AhGLsAFOAF3wNiaeAslNnoB9gTbQmkLz0KyzOy84U0zmfnlJe97aKRvPRn5o0Izfap/zDO33FRHzTtuVQVzJsAjutZKpo3GmY4vMpmW6mFokMMBPDP+n1wcwx31cBe2tItTGNAQe9AoLAxmwIJTtix4AGqGzWr/G9EWk0IoO4nXfOxurzEEP0fzcg66tiusGbGm5K0au13jqb2lZANPMbnAU5yFKT4AuxhN8zDC9yWX3mb21SwZsqbkvNAJd/w0vxyo6oIrvv4AA+whvI6IZjMAAAAASUVORK5CYII=' /%3E%3C/svg%3E");
    }
    header .header_sub .gnb .gnb_close {
        display: none; /*숨김*/
    }

    header.fixed {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
    }
    header.fixed + .container {
        margin-top: 50px;
    }
    /*메뉴 고정*/
    /*메뉴가 열렸을 때*/
    header.menu_open .header_sub .gnb .gnb_wrap {
        display: block;
    }
    header.menu_open .header_sub .gnb .gnb_open {
        display: none;
    }
    header.menu_open .header_sub .gnb .gnb_close {
        display: block;
    }

}/*media*/

footer {
    margin-top: 100px;
}