/*header, footer처럼 페이지에 공통으로 배치되는 요소의 css*/

.skip_nav {
    position: absolute;
    left: 0;
    top: -100px; /*focus가 될때만 나타나야함 - 상단에 숨겨져 있어야함*/
    z-index: 99999999999999; /*꼭 맨 상단에 배치*/
    width: 100%;
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #FF3535;
    text-align: center;
    color: #fff;
    font-size: 18px;
}
.skip_nav a:focus {
    top: 100px; /*a가 포커스 되면 올라간 만큼 다시 내려옴*/
}


header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 100; /*모든 요소의 맨위*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    padding: 0 32px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
header .logo {
    margin-top: 27px;
}
header .logo a {
    display: block;
    width: 136px;
    height: 45px;
    font-size: 0;
    line-height: 0;
    position: relative; /*before 정렬의 기준*/
}
header .logo a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/main/logo_1.png);
    content: "";
}
/*header에 오버하거나, 스크롤을 내려서 고정되었을때*/
header.fixed {
    position: fixed;
    background-color: #1d1d1d;
}

@media screen and (min-width:1025px){
    /*1025px이상일 경우 - pc형*/
    header .gnb button {
        display: none; /*숨김*/
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex;
        text-align: center;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 144px;
        position: relative; /*depth2 정렬의 기준*/
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block; /*li와 사이즈 동일*/
        line-height: 100px; /*header의 높이와 동일한 값*/
        font-size: 20px;
        font-weight: 700;
    }
    header .gnb .gnb_wrap ul.depth1 > li.on > a {
        color: #FF3535;
    }
    header .gnb .gnb_wrap ul.depth1 > li.on > a > span {
        position: relative; /*after 정렬의 기본*/
    }
    header .gnb .gnb_wrap ul.depth1 > li.on > a > span::after {
        position: absolute;
        right: -10px;
        top: -3px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #FF3535;
        content: "";
    }
    header .gnb .gnb_wrap ul.depth2 {
        display: none; /*2차메뉴는 오버한 경우에만 보임*/
        position: absolute;
        left: 0;
        top: 100px; /*header 높이만큼*/
        width: 100%;
        padding-top: 33px;
        /*1차메뉴 a와 2차메뉴 사이의 여백은
        반드시 padding으로 줘야함
        padding으로 안주면 2차메뉴로 이동시 메뉴가 아웃됨*/
    }
    header .gnb .gnb_wrap ul.depth2 > li > a {
        display: block;
        line-height: 2;
        color: #fff;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a:hover {
        font-weight: 700;
        color: #FF3535;
    }
    /* a태그 중에서 target="_blank"이란 속성과 속성값이 선언된 a태그에게만 스타일 줌*/
    header .gnb .gnb_wrap ul.depth2 > li > a[target="_blank"] > span {
        padding-right: 21px; /*아이콘이 들어갈 자리 - 아이콘까지 포함해서 가운데 정렬하기 위해*/
        display: inline-block;
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a[target="_blank"] > span::after {
        position: absolute;
        right: 0;
        top: 6px;
        width: 20px;
        height: 20px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_34_799' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_34_799)'%3E%3Cpath d='M4.42345 17.0834C4.00248 17.0834 3.64616 16.9376 3.35449 16.6459C3.06283 16.3542 2.91699 15.9979 2.91699 15.577V4.42321C2.91699 4.00223 3.06283 3.64591 3.35449 3.35425C3.64616 3.06258 4.00248 2.91675 4.42345 2.91675H9.0547C9.23206 2.91675 9.3806 2.97661 9.50033 3.09633C9.61991 3.21591 9.6797 3.36439 9.6797 3.54175C9.6797 3.71911 9.61991 3.86758 9.50033 3.98716C9.3806 4.10689 9.23206 4.16675 9.0547 4.16675H4.42345C4.35928 4.16675 4.30053 4.19348 4.2472 4.24696C4.19373 4.30029 4.16699 4.35904 4.16699 4.42321V15.577C4.16699 15.6411 4.19373 15.6999 4.2472 15.7532C4.30053 15.8067 4.35928 15.8334 4.42345 15.8334H15.5772C15.6414 15.8334 15.7001 15.8067 15.7535 15.7532C15.8069 15.6999 15.8337 15.6411 15.8337 15.577V10.9457C15.8337 10.7683 15.8935 10.6198 16.0132 10.5001C16.1328 10.3805 16.2813 10.3207 16.4587 10.3207C16.636 10.3207 16.7845 10.3805 16.9041 10.5001C17.0238 10.6198 17.0837 10.7683 17.0837 10.9457V15.577C17.0837 15.9979 16.9378 16.3542 16.6462 16.6459C16.3545 16.9376 15.9982 17.0834 15.5772 17.0834H4.42345ZM15.8337 5.04487L8.53887 12.3399C8.42345 12.4552 8.27838 12.5142 8.10366 12.517C7.92908 12.5196 7.78137 12.4606 7.66053 12.3399C7.53984 12.219 7.47949 12.0727 7.47949 11.9007C7.47949 11.7288 7.53984 11.5824 7.66053 11.4615L14.9555 4.16675H12.292C12.1146 4.16675 11.9662 4.10689 11.8466 3.98716C11.7269 3.86758 11.667 3.71911 11.667 3.54175C11.667 3.36439 11.7269 3.21591 11.8466 3.09633C11.9662 2.97661 12.1146 2.91675 12.292 2.91675H16.3303C16.5452 2.91675 16.7244 2.98862 16.868 3.13237C17.0118 3.27598 17.0837 3.45522 17.0837 3.67008V7.70842C17.0837 7.88578 17.0238 8.03425 16.9041 8.15383C16.7845 8.27355 16.636 8.33342 16.4587 8.33342C16.2813 8.33342 16.1328 8.27355 16.0132 8.15383C15.8935 8.03425 15.8337 7.88578 15.8337 7.70842V5.04487Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
        content: "";
    }
    header .gnb .gnb_wrap ul.depth2 > li > a[target="_blank"]:hover > span::after {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_67_4' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_67_4)'%3E%3Cpath d='M4.42345 17.0834C4.00248 17.0834 3.64616 16.9376 3.35449 16.6459C3.06283 16.3542 2.91699 15.9979 2.91699 15.577V4.42321C2.91699 4.00223 3.06283 3.64591 3.35449 3.35425C3.64616 3.06258 4.00248 2.91675 4.42345 2.91675H9.0547C9.23206 2.91675 9.3806 2.97661 9.50033 3.09633C9.61991 3.21591 9.6797 3.36439 9.6797 3.54175C9.6797 3.71911 9.61991 3.86758 9.50033 3.98716C9.3806 4.10689 9.23206 4.16675 9.0547 4.16675H4.42345C4.35928 4.16675 4.30053 4.19348 4.2472 4.24696C4.19373 4.30029 4.16699 4.35904 4.16699 4.42321V15.577C4.16699 15.6411 4.19373 15.6999 4.2472 15.7532C4.30053 15.8067 4.35928 15.8334 4.42345 15.8334H15.5772C15.6414 15.8334 15.7001 15.8067 15.7535 15.7532C15.8069 15.6999 15.8337 15.6411 15.8337 15.577V10.9457C15.8337 10.7683 15.8935 10.6198 16.0132 10.5001C16.1328 10.3805 16.2813 10.3207 16.4587 10.3207C16.636 10.3207 16.7845 10.3805 16.9041 10.5001C17.0238 10.6198 17.0837 10.7683 17.0837 10.9457V15.577C17.0837 15.9979 16.9378 16.3542 16.6462 16.6459C16.3545 16.9376 15.9982 17.0834 15.5772 17.0834H4.42345ZM15.8337 5.04487L8.53887 12.3399C8.42345 12.4552 8.27838 12.5142 8.10366 12.517C7.92908 12.5196 7.78137 12.4606 7.66053 12.3399C7.53984 12.219 7.47949 12.0727 7.47949 11.9007C7.47949 11.7288 7.53984 11.5824 7.66053 11.4615L14.9555 4.16675H12.292C12.1146 4.16675 11.9662 4.10689 11.8466 3.98716C11.7269 3.86758 11.667 3.71911 11.667 3.54175C11.667 3.36439 11.7269 3.21591 11.8466 3.09633C11.9662 2.97661 12.1146 2.91675 12.292 2.91675H16.3303C16.5452 2.91675 16.7244 2.98862 16.868 3.13237C17.0118 3.27598 17.0837 3.45522 17.0837 3.67008V7.70841C17.0837 7.88578 17.0238 8.03425 16.9041 8.15383C16.7845 8.27355 16.636 8.33341 16.4587 8.33341C16.2813 8.33341 16.1328 8.27355 16.0132 8.15383C15.8935 8.03425 15.8337 7.88578 15.8337 7.70841V5.04487Z' fill='%23FF3535'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    header .tnb {
        display: flex;
        margin-top: 35px;
        align-items: center;
    }
    header .tnb .lang {
        display: block;
        padding-left: 28px;
        /*왼쪽에 아이콘 들어갈 자리 - 내부 여백으로 처리
        아이콘을 클릭해도 링크가 적용되어야 함
        (아이콘까지 a태그여야 함)*/
        position: relative;
        margin-right: 37px; /*artera 와의 여백*/
    }
    header .tnb .lang::before {
        position: absolute;
        left: 0;
        top: -3px;
        width: 24px;
        height: 24px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_19_257' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_19_257)'%3E%3Cpath d='M12 21.5C10.6975 21.5 9.46833 21.2503 8.3125 20.751C7.15667 20.2517 6.14867 19.5718 5.2885 18.7115C4.42817 17.8513 3.74833 16.8433 3.249 15.6875C2.74967 14.5317 2.5 13.3025 2.5 12C2.5 10.6872 2.74967 9.45542 3.249 8.30475C3.74833 7.15408 4.42817 6.14867 5.2885 5.2885C6.14867 4.42817 7.15667 3.74833 8.3125 3.249C9.46833 2.74967 10.6975 2.5 12 2.5C13.3128 2.5 14.5446 2.74967 15.6953 3.249C16.8459 3.74833 17.8513 4.42817 18.7115 5.2885C19.5718 6.14867 20.2517 7.15408 20.751 8.30475C21.2503 9.45542 21.5 10.6872 21.5 12C21.5 13.3025 21.2503 14.5317 20.751 15.6875C20.2517 16.8433 19.5718 17.8513 18.7115 18.7115C17.8513 19.5718 16.8459 20.2517 15.6953 20.751C14.5446 21.2503 13.3128 21.5 12 21.5ZM12 19.9788C12.5103 19.3019 12.9398 18.6192 13.2885 17.9307C13.6372 17.2422 13.9212 16.4897 14.1405 15.673H9.8595C10.0917 16.5153 10.3789 17.2808 10.7213 17.9693C11.0634 18.6578 11.4897 19.3276 12 19.9788ZM10.0635 19.7038C9.68017 19.1538 9.33592 18.5285 9.03075 17.828C8.72558 17.1273 8.48842 16.409 8.31925 15.673H4.927C5.45517 16.7115 6.1635 17.584 7.052 18.2905C7.9405 18.9968 8.94433 19.4679 10.0635 19.7038ZM13.9365 19.7038C15.0557 19.4679 16.0595 18.9968 16.948 18.2905C17.8365 17.584 18.5448 16.7115 19.073 15.673H15.6807C15.4794 16.4153 15.2262 17.1368 14.921 17.8375C14.616 18.5382 14.2878 19.1602 13.9365 19.7038ZM4.298 14.173H8.0155C7.95267 13.8013 7.90708 13.4369 7.87875 13.0798C7.85058 12.7227 7.8365 12.3628 7.8365 12C7.8365 11.6372 7.85058 11.2773 7.87875 10.9202C7.90708 10.5631 7.95267 10.1987 8.0155 9.827H4.298C4.20183 10.1667 4.12817 10.5198 4.077 10.8865C4.02567 11.2532 4 11.6243 4 12C4 12.3757 4.02567 12.7468 4.077 13.1135C4.12817 13.4802 4.20183 13.8333 4.298 14.173ZM9.51525 14.173H14.4848C14.5474 13.8013 14.5929 13.4402 14.6212 13.0895C14.6494 12.7388 14.6635 12.3757 14.6635 12C14.6635 11.6243 14.6494 11.2612 14.6212 10.9105C14.5929 10.5598 14.5474 10.1987 14.4848 9.827H9.51525C9.45258 10.1987 9.40708 10.5598 9.37875 10.9105C9.35058 11.2612 9.3365 11.6243 9.3365 12C9.3365 12.3757 9.35058 12.7388 9.37875 13.0895C9.40708 13.4402 9.45258 13.8013 9.51525 14.173ZM15.9845 14.173H19.702C19.7982 13.8333 19.8718 13.4802 19.923 13.1135C19.9743 12.7468 20 12.3757 20 12C20 11.6243 19.9743 11.2532 19.923 10.8865C19.8718 10.5198 19.7982 10.1667 19.702 9.827H15.9845C16.0473 10.1987 16.0929 10.5631 16.1212 10.9202C16.1494 11.2773 16.1635 11.6372 16.1635 12C16.1635 12.3628 16.1494 12.7227 16.1212 13.0798C16.0929 13.4369 16.0473 13.8013 15.9845 14.173ZM15.6807 8.327H19.073C18.5385 7.27567 17.835 6.40317 16.9625 5.7095C16.09 5.016 15.0813 4.54167 13.9365 4.2865C14.3198 4.8685 14.6608 5.50508 14.9595 6.19625C15.2583 6.88725 15.4987 7.5975 15.6807 8.327ZM9.8595 8.327H14.1405C13.9083 7.491 13.6163 6.72075 13.2645 6.01625C12.9125 5.31175 12.491 4.64675 12 4.02125C11.509 4.64675 11.0875 5.31175 10.7355 6.01625C10.3837 6.72075 10.0917 7.491 9.8595 8.327ZM4.927 8.327H8.31925C8.50125 7.5975 8.74167 6.88725 9.0405 6.19625C9.33917 5.50508 9.68017 4.8685 10.0635 4.2865C8.91217 4.54167 7.90192 5.01767 7.03275 5.7145C6.16342 6.41117 5.4615 7.282 4.927 8.327Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
        content: "";
    }
    header .tnb .artera {
        display: block;
        width: 119px;
        height: 29px;
        line-height: 29px;
        /*행간과 높이를 동일하게 주면 글자가 위아래 가운데 왼쪽 여백은 padding으로 주기*/
        padding-left: 18px;
        border: 1px solid #fff;
        border-radius: 15px;
        position: relative;
    }
    header .tnb .artera::after {
        position: absolute;
        right: 16px;
        top: 1px;
        width: 24px;
        height: 24px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_29_88' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_29_88)'%3E%3Cpath d='M5.30775 20.5C4.80258 20.5 4.375 20.325 4.025 19.975C3.675 19.625 3.5 19.1974 3.5 18.6923V5.30775C3.5 4.80258 3.675 4.375 4.025 4.025C4.375 3.675 4.80258 3.5 5.30775 3.5H10.8652C11.0781 3.5 11.2563 3.57183 11.4 3.7155C11.5435 3.859 11.6152 4.03717 11.6152 4.25C11.6152 4.46283 11.5435 4.641 11.4 4.7845C11.2563 4.92817 11.0781 5 10.8652 5H5.30775C5.23075 5 5.16025 5.03208 5.09625 5.09625C5.03208 5.16025 5 5.23075 5 5.30775V18.6923C5 18.7692 5.03208 18.8398 5.09625 18.9038C5.16025 18.9679 5.23075 19 5.30775 19H18.6923C18.7692 19 18.8398 18.9679 18.9038 18.9038C18.9679 18.8398 19 18.7692 19 18.6923V13.1348C19 12.9219 19.0718 12.7437 19.2155 12.6C19.359 12.4565 19.5372 12.3848 19.75 12.3848C19.9628 12.3848 20.141 12.4565 20.2845 12.6C20.4282 12.7437 20.5 12.9219 20.5 13.1348V18.6923C20.5 19.1974 20.325 19.625 19.975 19.975C19.625 20.325 19.1974 20.5 18.6923 20.5H5.30775ZM19 6.05375L10.2463 14.8077C10.1077 14.9461 9.93367 15.0169 9.724 15.0203C9.5145 15.0234 9.33725 14.9526 9.19225 14.8077C9.04742 14.6627 8.975 14.4871 8.975 14.2808C8.975 14.0744 9.04742 13.8988 9.19225 13.7537L17.9462 5H14.75C14.5372 5 14.359 4.92817 14.2155 4.7845C14.0718 4.641 14 4.46283 14 4.25C14 4.03717 14.0718 3.859 14.2155 3.7155C14.359 3.57183 14.5372 3.5 14.75 3.5H19.596C19.8538 3.5 20.0689 3.58625 20.2413 3.75875C20.4138 3.93108 20.5 4.14617 20.5 4.404V9.25C20.5 9.46283 20.4282 9.641 20.2845 9.7845C20.141 9.92817 19.9628 10 19.75 10C19.5372 10 19.359 9.92817 19.2155 9.7845C19.0718 9.641 19 9.46283 19 9.25V6.05375Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
        content: "";
    }
    header.fixed .tnb .lang:hover {
        color: #FF3535;
    }
    header.fixed .tnb .lang:hover::before {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_34_322' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_34_322)'%3E%3Cpath d='M12 21.5C10.6975 21.5 9.46833 21.2503 8.3125 20.751C7.15667 20.2517 6.14867 19.5718 5.2885 18.7115C4.42817 17.8513 3.74833 16.8433 3.249 15.6875C2.74967 14.5317 2.5 13.3025 2.5 12C2.5 10.6872 2.74967 9.45542 3.249 8.30475C3.74833 7.15408 4.42817 6.14867 5.2885 5.2885C6.14867 4.42817 7.15667 3.74833 8.3125 3.249C9.46833 2.74967 10.6975 2.5 12 2.5C13.3128 2.5 14.5446 2.74967 15.6953 3.249C16.8459 3.74833 17.8513 4.42817 18.7115 5.2885C19.5718 6.14867 20.2517 7.15408 20.751 8.30475C21.2503 9.45542 21.5 10.6872 21.5 12C21.5 13.3025 21.2503 14.5317 20.751 15.6875C20.2517 16.8433 19.5718 17.8513 18.7115 18.7115C17.8513 19.5718 16.8459 20.2517 15.6953 20.751C14.5446 21.2503 13.3128 21.5 12 21.5ZM12 19.9788C12.5103 19.3019 12.9398 18.6192 13.2885 17.9307C13.6372 17.2422 13.9212 16.4897 14.1405 15.673H9.8595C10.0917 16.5153 10.3789 17.2808 10.7213 17.9693C11.0634 18.6578 11.4897 19.3276 12 19.9788ZM10.0635 19.7038C9.68017 19.1538 9.33592 18.5285 9.03075 17.828C8.72558 17.1273 8.48842 16.409 8.31925 15.673H4.927C5.45517 16.7115 6.1635 17.584 7.052 18.2905C7.9405 18.9968 8.94433 19.4679 10.0635 19.7038ZM13.9365 19.7038C15.0557 19.4679 16.0595 18.9968 16.948 18.2905C17.8365 17.584 18.5448 16.7115 19.073 15.673H15.6807C15.4794 16.4153 15.2262 17.1368 14.921 17.8375C14.616 18.5382 14.2878 19.1602 13.9365 19.7038ZM4.298 14.173H8.0155C7.95267 13.8013 7.90708 13.4369 7.87875 13.0798C7.85058 12.7227 7.8365 12.3628 7.8365 12C7.8365 11.6372 7.85058 11.2773 7.87875 10.9202C7.90708 10.5631 7.95267 10.1987 8.0155 9.827H4.298C4.20183 10.1667 4.12817 10.5198 4.077 10.8865C4.02567 11.2532 4 11.6243 4 12C4 12.3757 4.02567 12.7468 4.077 13.1135C4.12817 13.4802 4.20183 13.8333 4.298 14.173ZM9.51525 14.173H14.4848C14.5474 13.8013 14.5929 13.4402 14.6212 13.0895C14.6494 12.7388 14.6635 12.3757 14.6635 12C14.6635 11.6243 14.6494 11.2612 14.6212 10.9105C14.5929 10.5598 14.5474 10.1987 14.4848 9.827H9.51525C9.45258 10.1987 9.40708 10.5598 9.37875 10.9105C9.35058 11.2612 9.3365 11.6243 9.3365 12C9.3365 12.3757 9.35058 12.7388 9.37875 13.0895C9.40708 13.4402 9.45258 13.8013 9.51525 14.173ZM15.9845 14.173H19.702C19.7982 13.8333 19.8718 13.4802 19.923 13.1135C19.9743 12.7468 20 12.3757 20 12C20 11.6243 19.9743 11.2532 19.923 10.8865C19.8718 10.5198 19.7982 10.1667 19.702 9.827H15.9845C16.0473 10.1987 16.0929 10.5631 16.1212 10.9202C16.1494 11.2773 16.1635 11.6372 16.1635 12C16.1635 12.3628 16.1494 12.7227 16.1212 13.0798C16.0929 13.4369 16.0473 13.8013 15.9845 14.173ZM15.6807 8.327H19.073C18.5385 7.27567 17.835 6.40317 16.9625 5.7095C16.09 5.016 15.0813 4.54167 13.9365 4.2865C14.3198 4.8685 14.6608 5.50508 14.9595 6.19625C15.2583 6.88725 15.4987 7.5975 15.6807 8.327ZM9.8595 8.327H14.1405C13.9083 7.491 13.6163 6.72075 13.2645 6.01625C12.9125 5.31175 12.491 4.64675 12 4.02125C11.509 4.64675 11.0875 5.31175 10.7355 6.01625C10.3837 6.72075 10.0917 7.491 9.8595 8.327ZM4.927 8.327H8.31925C8.50125 7.5975 8.74167 6.88725 9.0405 6.19625C9.33917 5.50508 9.68017 4.8685 10.0635 4.2865C8.91217 4.54167 7.90192 5.01767 7.03275 5.7145C6.16342 6.41117 5.4615 7.282 4.927 8.327Z' fill='%23FF3535'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    header .tnb .artera:hover {
        border: 1px solid #FF3535;
        background-color: #FF3535;
    }

    /*메뉴에 마우스를 오버한 경우*/
    
    header.menu_over::before {
        position: absolute; /*header를 기준으로 정렬*/
        left: 0;
        top: 0;
        z-index: -1;
        /*정렬의 기준이 되는 header 내부에서
        가장 하단으로 배치한다는 명령
        -- visual 아래로는 내려가지 않음*/
        width: 100%;
        height: 434px;
        background-color: #1d1d1d;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        content: "";
    }
    header.menu_over::after {
        position: absolute;
        left: 0;
        top: 100px;
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.2);
        content: "";
    }
    header.menu_over .gnb .gnb_wrap ul.depth2 {
        display: block;
    }
}/*media*/

@media screen and (max-width:1300px) and (min-width:1025px){
    /*1300px 이하 ~ 1025px 이상*/
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 125px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        font-size: 18px;
    }
}

@media screen and (max-width:1024px){ /*1024px 이하 - 모바일 버전*/
    header .gnb .gnb_open {
        position: absolute; /*header를 기준으로 정렬*/
        right: 0;
        top: 0;
        width: 100px;
        height: 100%; /*header의 높이와 동일*/
        font-size: 0;
        line-height: 0;
    }
    header .gnb .gnb_open::before {
        position: absolute;
        left: 50%;
        top: 50%; /*gnb 사이즈가 바뀌어도 아이콘을 위아래/좌우 가운데 배치*/
        transform: translate(-50%, -50%);
        width: 60px;
        height: 60px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_34_667' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='38' height='38'%3E%3Crect width='38' height='38' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_34_667)'%3E%3Cpath d='M6.72949 27.9212C6.39303 27.9212 6.11107 27.8073 5.8836 27.5796C5.65586 27.3521 5.54199 27.07 5.54199 26.7333C5.54199 26.3968 5.65586 26.1149 5.8836 25.8874C6.11107 25.6602 6.39303 25.5466 6.72949 25.5466H31.2712C31.6076 25.5466 31.8896 25.6603 32.1171 25.8878C32.3448 26.1155 32.4587 26.3978 32.4587 26.7345C32.4587 27.0709 32.3448 27.3529 32.1171 27.5804C31.8896 27.8076 31.6076 27.9212 31.2712 27.9212H6.72949ZM6.72949 20.1874C6.39303 20.1874 6.11107 20.0735 5.8836 19.8458C5.65586 19.6181 5.54199 19.336 5.54199 18.9995C5.54199 18.6628 5.65586 18.3808 5.8836 18.1536C6.11107 17.9261 6.39303 17.8124 6.72949 17.8124H31.2712C31.6076 17.8124 31.8896 17.9263 32.1171 18.154C32.3448 18.3817 32.4587 18.6638 32.4587 19.0003C32.4587 19.337 32.3448 19.619 32.1171 19.8462C31.8896 20.0737 31.6076 20.1874 31.2712 20.1874H6.72949ZM6.72949 12.4532C6.39303 12.4532 6.11107 12.3395 5.8836 12.112C5.65586 11.8843 5.54199 11.602 5.54199 11.2653C5.54199 10.9289 5.65586 10.6469 5.8836 10.4194C6.11107 10.1922 6.39303 10.0786 6.72949 10.0786H31.2712C31.6076 10.0786 31.8896 10.1925 32.1171 10.4202C32.3448 10.6477 32.4587 10.9298 32.4587 11.2665C32.4587 11.603 32.3448 11.8849 32.1171 12.1124C31.8896 12.3396 31.6076 12.4532 31.2712 12.4532H6.72949Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
        content: "";
    }
    header.fixed .gnb .gnb_open::before {
        background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_34_667' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='38' height='38'%3E%3Crect width='38' height='38' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_34_667)'%3E%3Cpath d='M6.72949 27.9212C6.39303 27.9212 6.11107 27.8073 5.8836 27.5796C5.65586 27.3521 5.54199 27.07 5.54199 26.7333C5.54199 26.3968 5.65586 26.1149 5.8836 25.8874C6.11107 25.6602 6.39303 25.5466 6.72949 25.5466H31.2712C31.6076 25.5466 31.8896 25.6603 32.1171 25.8878C32.3448 26.1155 32.4587 26.3978 32.4587 26.7345C32.4587 27.0709 32.3448 27.3529 32.1171 27.5804C31.8896 27.8076 31.6076 27.9212 31.2712 27.9212H6.72949ZM6.72949 20.1874C6.39303 20.1874 6.11107 20.0735 5.8836 19.8458C5.65586 19.6181 5.54199 19.336 5.54199 18.9995C5.54199 18.6628 5.65586 18.3808 5.8836 18.1536C6.11107 17.9261 6.39303 17.8124 6.72949 17.8124H31.2712C31.6076 17.8124 31.8896 17.9263 32.1171 18.154C32.3448 18.3817 32.4587 18.6638 32.4587 19.0003C32.4587 19.337 32.3448 19.619 32.1171 19.8462C31.8896 20.0737 31.6076 20.1874 31.2712 20.1874H6.72949ZM6.72949 12.4532C6.39303 12.4532 6.11107 12.3395 5.8836 12.112C5.65586 11.8843 5.54199 11.602 5.54199 11.2653C5.54199 10.9289 5.65586 10.6469 5.8836 10.4194C6.11107 10.1922 6.39303 10.0786 6.72949 10.0786H31.2712C31.6076 10.0786 31.8896 10.1925 32.1171 10.4202C32.3448 10.6477 32.4587 10.9298 32.4587 11.2665C32.4587 11.603 32.3448 11.8849 32.1171 12.1124C31.8896 12.3396 31.6076 12.4532 31.2712 12.4532H6.72949Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap {
        display: none; /*숨김*/
        position: absolute; /*header를 기준으로 정렬*/
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh; /*브라우저 높이*/
        background-color: #fff;
        color: #1d1d1d;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin-top: 100px; /*header 높이만큼*/
        height: calc(100vh - 100px);
        overflow-y: auto;
        /*좌우스크롤바 금지, 세로스크롤바는 만약 내부 콘텐츠의 길이가 높이보다 길 경우 스크롤바 생김*/
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        border-bottom: 1px solid #ededed;
    }
    header .gnb .gnb_wrap ul.depth1 > li:first-child {
        border-top: 1px solid #ededed;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        line-height: 3;
        font-size: 18px;
        font-weight: 700;
        padding: 0 20px;
        color: #1d1d1d;
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a::after {
        position: absolute;
        right: 20px;
        top: 15px;
        width: 24px;
        height: 24px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_34_823' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_34_823)'%3E%3Cpath d='M12 15.4L6 9.4L7.4 8L12 12.6L16.6 8L18 9.4L12 15.4Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
        content: "";
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a {
        color: #FF3535;
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_34_835' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_34_835)'%3E%3Cpath d='M12 10.8L7.4 15.4L6 14L12 8L18 14L16.6 15.4L12 10.8Z' fill='%23FF3535'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul.depth2 {
        display: none; /*숨김*/
        background-color: #ededed;
        padding: 31px 29px;
    }
    header .gnb .gnb_wrap .open ul.depth2 {
        display: block; /*나타남*/
    }
    header .gnb .gnb_wrap ul.depth2 > li > a {
        display: block;
        line-height: 2;
        font-size: 16px;
        color: #3d3d3d;
    }
    header .gnb .gnb_close {
        display: none; /*숨김*/
        position: absolute; /*header를 기준으로 정렬*/
        right: 0;
        top: 0;
        width: 100px;
        height: 100%; /*header의 높이와 동일*/
        font-size: 0;
        line-height: 0;
    }
    header .gnb .gnb_close::before {
        position: absolute;
        left: 50%;
        top: 50%; /*gnb 사이즈가 바뀌어도 아이콘을 위아래/좌우 가운데 배치*/
        transform: translate(-50%, -50%);
        width: 60px;
        height: 60px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_34_846' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='38' height='38'%3E%3Crect width='38' height='38' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_34_846)'%3E%3Cpath d='M19.0001 20.6683L10.9679 28.701C10.7486 28.92 10.473 29.0322 10.141 29.0374C9.80929 29.0425 9.52864 28.9303 9.29906 28.701C9.06974 28.4714 8.95508 28.1933 8.95508 27.8666C8.95508 27.5399 9.06974 27.2617 9.29906 27.0321L17.3317 18.9999L9.29906 10.9676C9.08003 10.7484 8.96788 10.4727 8.9626 10.1408C8.95759 9.80904 9.06974 9.5284 9.29906 9.29881C9.52864 9.06949 9.80678 8.95483 10.1335 8.95483C10.4602 8.95483 10.7383 9.06949 10.9679 9.29881L19.0001 17.3315L27.0324 9.29881C27.2517 9.07979 27.5273 8.96763 27.8593 8.96235C28.191 8.95734 28.4716 9.06949 28.7012 9.29881C28.9305 9.5284 29.0452 9.80654 29.0452 10.1332C29.0452 10.4599 28.9305 10.7381 28.7012 10.9676L20.6686 18.9999L28.7012 27.0321C28.9203 27.2514 29.0324 27.5271 29.0377 27.859C29.0427 28.1908 28.9305 28.4714 28.7012 28.701C28.4716 28.9303 28.1935 29.045 27.8668 29.045C27.5401 29.045 27.262 28.9303 27.0324 28.701L19.0001 20.6683Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
        content: "";
    }
    header .tnb {
        display: none; /*숨김*/
        position: absolute;
        left: 20px;
        top: 16px;
        color: #1d1d1d;
        align-items: center;
    }
    header .tnb .lang {
        display: block;
        padding: 0 23px;
        position: relative; /*before 정렬의 기준*/
    }
    header .tnb .lang::before {
        position: absolute;
        left: 0;
        top: -3px;
        width: 20px;
        height: 20px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_34_781' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_34_781)'%3E%3Cpath d='M9.99967 17.9166C8.91426 17.9166 7.88995 17.7085 6.92676 17.2924C5.96356 16.8763 5.12356 16.3098 4.40676 15.5928C3.68981 14.876 3.12329 14.036 2.70717 13.0728C2.29106 12.1096 2.08301 11.0853 2.08301 9.99992C2.08301 8.90589 2.29106 7.87943 2.70717 6.92054C3.12329 5.96165 3.68981 5.12381 4.40676 4.407C5.12356 3.69006 5.96356 3.12353 6.92676 2.70742C7.88995 2.29131 8.91426 2.08325 9.99967 2.08325C11.0937 2.08325 12.1202 2.29131 13.0791 2.70742C14.0379 3.12353 14.8758 3.69006 15.5926 4.407C16.3095 5.12381 16.8761 5.96165 17.2922 6.92054C17.7083 7.87943 17.9163 8.90589 17.9163 9.99992C17.9163 11.0853 17.7083 12.1096 17.2922 13.0728C16.8761 14.036 16.3095 14.876 15.5926 15.5928C14.8758 16.3098 14.0379 16.8763 13.0791 17.2924C12.1202 17.7085 11.0937 17.9166 9.99967 17.9166ZM9.99967 16.6489C10.425 16.0848 10.7829 15.516 11.0734 14.9422C11.364 14.3685 11.6006 13.7413 11.7834 13.0608H8.21592C8.4094 13.7627 8.64877 14.4005 8.93405 14.9743C9.21919 15.548 9.5744 16.1062 9.99967 16.6489ZM8.38592 16.4197C8.06648 15.9614 7.7796 15.4403 7.5253 14.8566C7.27099 14.2727 7.07335 13.6741 6.93238 13.0608H4.10551C4.54565 13.9262 5.13592 14.6533 5.87634 15.242C6.61676 15.8306 7.45329 16.2232 8.38592 16.4197ZM11.6134 16.4197C12.5461 16.2232 13.3826 15.8306 14.123 15.242C14.8634 14.6533 15.4537 13.9262 15.8938 13.0608H13.067C12.8992 13.6794 12.6881 14.2806 12.4338 14.8645C12.1797 15.4484 11.9062 15.9668 11.6134 16.4197ZM3.58134 11.8108H6.67926C6.6269 11.501 6.58891 11.1973 6.5653 10.8997C6.54183 10.6022 6.53009 10.3023 6.53009 9.99992C6.53009 9.69756 6.54183 9.39763 6.5653 9.10013C6.58891 8.80249 6.6269 8.49881 6.67926 8.18909H3.58134C3.5012 8.47214 3.43981 8.76645 3.39717 9.072C3.3544 9.37756 3.33301 9.68686 3.33301 9.99992C3.33301 10.313 3.3544 10.6223 3.39717 10.9278C3.43981 11.2334 3.5012 11.5277 3.58134 11.8108ZM7.92905 11.8108H12.0703C12.1225 11.501 12.1604 11.2001 12.184 10.9078C12.2075 10.6156 12.2193 10.313 12.2193 9.99992C12.2193 9.68686 12.2075 9.38422 12.184 9.092C12.1604 8.79978 12.1225 8.49881 12.0703 8.18909H7.92905C7.87683 8.49881 7.83891 8.79978 7.8153 9.092C7.79183 9.38422 7.78009 9.68686 7.78009 9.99992C7.78009 10.313 7.79183 10.6156 7.8153 10.9078C7.83891 11.2001 7.87683 11.501 7.92905 11.8108ZM13.3201 11.8108H16.418C16.4981 11.5277 16.5595 11.2334 16.6022 10.9278C16.645 10.6223 16.6663 10.313 16.6663 9.99992C16.6663 9.68686 16.645 9.37756 16.6022 9.072C16.5595 8.76645 16.4981 8.47214 16.418 8.18909H13.3201C13.3725 8.49881 13.4104 8.80249 13.434 9.10013C13.4575 9.39763 13.4693 9.69756 13.4693 9.99992C13.4693 10.3023 13.4575 10.6022 13.434 10.8997C13.4104 11.1973 13.3725 11.501 13.3201 11.8108ZM13.067 6.93909H15.8938C15.4484 6.06297 14.8622 5.33589 14.1351 4.75784C13.408 4.17992 12.5675 3.78464 11.6134 3.572C11.9329 4.057 12.217 4.58749 12.4659 5.16346C12.715 5.73929 12.9153 6.33117 13.067 6.93909ZM8.21592 6.93909H11.7834C11.59 6.24242 11.3466 5.60054 11.0534 5.01346C10.7601 4.42638 10.4088 3.87221 9.99967 3.35096C9.59051 3.87221 9.23926 4.42638 8.94592 5.01346C8.65273 5.60054 8.4094 6.24242 8.21592 6.93909ZM4.10551 6.93909H6.93238C7.08405 6.33117 7.2844 5.73929 7.53342 5.16346C7.78231 4.58749 8.06648 4.057 8.38592 3.572C7.42648 3.78464 6.58461 4.18131 5.8603 4.762C5.13585 5.34256 4.55092 6.06825 4.10551 6.93909Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
        content: "";
    }
    header .tnb .artera {
        width: 105px;
        height: 25px;
        line-height: 24px; /*글자가 위아래 가운데*/
        padding-left: 14px;
        border: 1px solid #1d1d1d;
        border-radius: 12px;
    }
    header .tnb .artera::after {
        position: absolute;
        right: 16px;
        top: 1px;
        width: 24px;
        height: 24px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_34_777' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_34_777)'%3E%3Cpath d='M4.42345 17.0834C4.00248 17.0834 3.64616 16.9376 3.35449 16.6459C3.06283 16.3542 2.91699 15.9979 2.91699 15.577V4.42321C2.91699 4.00223 3.06283 3.64591 3.35449 3.35425C3.64616 3.06258 4.00248 2.91675 4.42345 2.91675H9.0547C9.23206 2.91675 9.3806 2.97661 9.50033 3.09633C9.61991 3.21591 9.6797 3.36439 9.6797 3.54175C9.6797 3.71911 9.61991 3.86758 9.50033 3.98716C9.3806 4.10689 9.23206 4.16675 9.0547 4.16675H4.42345C4.35928 4.16675 4.30053 4.19348 4.2472 4.24696C4.19373 4.30029 4.16699 4.35904 4.16699 4.42321V15.577C4.16699 15.6411 4.19373 15.6999 4.2472 15.7532C4.30053 15.8067 4.35928 15.8334 4.42345 15.8334H15.5772C15.6414 15.8334 15.7001 15.8067 15.7535 15.7532C15.8069 15.6999 15.8337 15.6411 15.8337 15.577V10.9457C15.8337 10.7683 15.8935 10.6198 16.0132 10.5001C16.1328 10.3805 16.2813 10.3207 16.4587 10.3207C16.636 10.3207 16.7845 10.3805 16.9041 10.5001C17.0238 10.6198 17.0837 10.7683 17.0837 10.9457V15.577C17.0837 15.9979 16.9378 16.3542 16.6462 16.6459C16.3545 16.9376 15.9982 17.0834 15.5772 17.0834H4.42345ZM15.8337 5.04487L8.53887 12.3399C8.42345 12.4552 8.27838 12.5142 8.10366 12.517C7.92908 12.5196 7.78137 12.4606 7.66053 12.3399C7.53984 12.219 7.47949 12.0727 7.47949 11.9007C7.47949 11.7288 7.53984 11.5824 7.66053 11.4615L14.9555 4.16675H12.292C12.1146 4.16675 11.9662 4.10689 11.8466 3.98716C11.7269 3.86758 11.667 3.71911 11.667 3.54175C11.667 3.36439 11.7269 3.21591 11.8466 3.09633C11.9662 2.97661 12.1146 2.91675 12.292 2.91675H16.3303C16.5452 2.91675 16.7244 2.98862 16.868 3.13237C17.0118 3.27598 17.0837 3.45522 17.0837 3.67008V7.70842C17.0837 7.88578 17.0238 8.03425 16.9041 8.15383C16.7845 8.27355 16.636 8.33342 16.4587 8.33342C16.2813 8.33342 16.1328 8.27355 16.0132 8.15383C15.8935 8.03425 15.8337 7.88578 15.8337 7.70842V5.04487Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
        content: "";
    }
    /*메뉴가 열렸을때*/
    header.menu_open .gnb .gnb_open {
        display: none; /*숨김*/
    }
    header.menu_open .gnb .gnb_wrap {
        display: block; /*나타남*/
    }
    header.menu_open .gnb .gnb_close {
        display: block; /*나타남*/
    }
    header.menu_open .tnb {
        display: flex; /*나타남*/
    }
}/*media*/

@media screen and (max-width:768px){
    header {
        height: 50px;
        padding: 0 20px;
    }
    header .logo {
        margin-top: 9px;
    }
    header .logo a {
        width: 86px;
        height: 29px;
    }
    header .gnb .gnb_open,
    header .gnb .gnb_close {
        width: 50px;
    }
    header .gnb .gnb_open::before,
    header .gnb .gnb_close::before {
        width: 38px;
        height: 38px;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin-top: 50px; /*header 높이만큼*/
        height: calc(100vh - 100px);
    }
}/*media*/

footer {
    padding: 105px 0 149px 0;
    background-color: #1d1d1d;
    color: #fff;
}
footer .wrapper {
    position: relative; /*familysite의 youtube 정렬의 기준*/
}
footer .youtube {
    position: absolute;
    right: 0;
    top: -146px;
}
footer .youtube a {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #FF3535;
    padding-top: 34px;
    text-align: center;
    font-size: 14px;
    position: relative; /*before 정렬의 기준*/
}
footer .youtube a::before {
    position: absolute;
    left: 50%;
    top: 15px;
    transform: translate(-50%, 0);
    width: 24px;
    height: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='17' viewBox='0 0 25 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_33_356)'%3E%3Cpath d='M24.9766 5.90209C24.9766 3.13019 22.6163 0.888672 19.7125 0.888672H6.24065C3.33678 0.888672 0.976562 3.1365 0.976562 5.90209V11.8689C0.976562 14.6408 3.33678 16.8824 6.24065 16.8824H19.7058C22.6163 16.8824 24.9699 14.6345 24.9699 11.8689V5.90209H24.9766ZM17.0539 9.33698L11.0141 12.1846C10.7755 12.3046 9.97325 12.1404 9.97325 11.8879V6.04731C9.97325 5.78844 10.7821 5.62427 11.0208 5.75055L16.802 8.74345C17.0473 8.87604 17.2992 9.21069 17.0539 9.33698Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_33_356'%3E%3Crect width='24' height='16' fill='white' transform='translate(0.976562 0.888672)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    content: "";
}
footer .familysite {
    position: absolute;
    right: 0;
    top: 32px;
    width: 192px;
}
footer .familysite button {
    width: 100%;
    height: 36px;
    background-color: rgba(29,29,29,0.8);
    border: 1px solid #fff;
    text-align: left;
    padding-left: 22px;
    position: relative; /*after 정렬의 기준*/
}
footer .familysite button::after {
    position: absolute;
    right: 15px;
    top: 6px;
    width: 21px;
    height: 21px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
footer .familysite button.family_open::after {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_33_329' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='22' height='22'%3E%3Crect x='0.322266' y='0.618164' width='21' height='21' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_33_329)'%3E%3Cpath d='M10.166 11.7744H5.79102C5.60508 11.7744 5.44926 11.7115 5.32355 11.5856C5.19769 11.4598 5.13477 11.3039 5.13477 11.1179C5.13477 10.9319 5.19769 10.776 5.32355 10.6505C5.44926 10.5248 5.60508 10.4619 5.79102 10.4619H10.166V6.08691C10.166 5.90098 10.2289 5.74515 10.3548 5.61945C10.4807 5.49359 10.6365 5.43066 10.8225 5.43066C11.0086 5.43066 11.1644 5.49359 11.29 5.61945C11.4157 5.74515 11.4785 5.90098 11.4785 6.08691V10.4619H15.8535C16.0395 10.4619 16.1953 10.5248 16.321 10.6507C16.4468 10.7765 16.5098 10.9324 16.5098 11.1184C16.5098 11.3045 16.4468 11.4603 16.321 11.5859C16.1953 11.7116 16.0395 11.7744 15.8535 11.7744H11.4785V16.1494C11.4785 16.3354 11.4156 16.4912 11.2897 16.6169C11.1639 16.7427 11.008 16.8057 10.822 16.8057C10.636 16.8057 10.4801 16.7427 10.3546 16.6169C10.2289 16.4912 10.166 16.3354 10.166 16.1494V11.7744Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
footer .familysite button.family_close::after {
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='22' viewBox='0 0 21 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_34_459' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='21' height='22'%3E%3Crect y='0.618164' width='21' height='21' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_34_459)'%3E%3Cpath d='M5.46875 11.7744C5.28281 11.7744 5.12699 11.7115 5.00128 11.5856C4.87543 11.4598 4.8125 11.3039 4.8125 11.1179C4.8125 10.9319 4.87543 10.776 5.00128 10.6505C5.12699 10.5248 5.28281 10.4619 5.46875 10.4619H15.5312C15.7172 10.4619 15.873 10.5248 15.9987 10.6507C16.1246 10.7765 16.1875 10.9324 16.1875 11.1184C16.1875 11.3045 16.1246 11.4603 15.9987 11.5859C15.873 11.7116 15.7172 11.7744 15.5312 11.7744H5.46875Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
footer .familysite ul {
    display: none; /*숨김*/
    position: absolute; /*familysite를 기준으로 정렬*/
    left: 0;
    bottom: 35px;
    width: 100%;
    background-color: rgba(29,29,29,0.8);
    border: 1px solid #fff;
    padding: 17px 23px;
}
footer .familysite ul li a {
    display: block;
    line-height: 2;
}
footer .familysite .family_close {
    display: none; /*숨김*/
}
footer .familysite.open .family_open {
    display: none; /*숨김*/
}
footer .familysite.open .family_close {
    display: block;
}
footer .f_nav ul {
    display: flex;
}
footer .f_nav ul li {
    margin-right: 40px;
    position: relative; /*after 정렬의 기준*/
}
footer .f_nav ul li::after {
    position: absolute;
    right: -22px;
    top: 7px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    content: "";
}
footer .f_nav ul li:last-child:after {
    display: none;
}
footer .copyright {
    margin-top: 28px;
    color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width:768px){
    footer {
        padding: 0 0 63px 0;
    }
    footer .youtube {
        position: relative;
        right: auto;
        top: -40px;
        text-align: center;
    }
    footer .youtube a {
        display: inline-block;
    }
    footer .familysite {
        position: relative;
        right: auto;
        top: auto;
        width: auto;
        margin: 40px auto 0 0;
    }
    footer .f_nav {
        margin: 49px 0 0 0;
    }
    footer .f_nav ul {
        flex-wrap: wrap; /*줄바꿈 허용*/
    }
    footer .f_nav ul li {
        margin: 0 30px 37px 0;
    }
    footer .f_nav ul li::after {
        right: -16px;
        top: 6px;
    }
    footer .copyright {
        margin-top: 27px;
    }
}