/*header, footer처럼 페이지에 공통으로 배치되는 요소의 css*/

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 100; /*모든 요소의 맨위*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    padding: 0 32px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
header .logo {
    margin-top: 27px;
}
header .logo a {
    display: block;
    width: 136px;
    height: 45px;
    font-size: 0;
    line-height: 0;
    position: relative; /*before 정렬의 기준*/
}
header .logo a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/logo_1.png);
    content: "";
}
/*header에 오버하거나, 스크롤을 내려서 고정되었을때*/
header.fixed {
    position: fixed;
    background-color: #1d1d1d;
}
header.fixed .logo {
    background-image: url("data:image/svg+xml,%3Csvg width='136' height='45' viewBox='0 0 136 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_34_278)'%3E%3Cpath d='M108.264 11.0046C108.264 11.3875 108.319 11.7842 108.473 12.1601C109.149 13.8306 110.87 14.8608 113.058 13.9907C113.581 13.7819 128.056 7.95592 128.056 7.95592C128.056 7.95592 122.355 22.3921 122.139 22.9281C121.31 24.9954 122.306 26.8677 124 27.4942C124.376 27.6334 124.766 27.703 125.15 27.6961C126.536 27.6891 127.756 26.8747 128.355 25.2459C128.446 25.0023 135.575 5.45012 135.728 4.98376C135.819 4.70534 135.986 4.05104 135.986 3.59861C135.986 2.63109 135.631 1.71926 134.941 1.03016C134.265 0.348028 133.359 0 132.404 0C131.937 0 131.561 0.0835267 130.99 0.264501C130.648 0.37587 112.271 7.20418 110.703 7.78886C109.135 8.37355 108.264 9.62645 108.271 11.0046' fill='%23ED1C24'/%3E%3Cpath d='M73.8292 22.0302V21.6125H62.6858V24.4594H69.16C67.4735 29.7912 61.4453 32.9235 61.4453 32.9235L63.0552 35.1717C63.0552 35.1717 73.8292 30.7309 73.8292 22.0232V22.0302Z' fill='white'/%3E%3Cpath d='M70.3098 40.935V35.4014H66.3584V41.638C66.3584 43.587 67.9125 44.993 70.045 44.993H82.2895V42.1531H71.6897C70.728 42.1531 70.3238 41.7703 70.3028 40.935H70.3098Z' fill='white'/%3E%3Cpath d='M73.3838 26.8608V29.7077H78.0879V36.5708H82.0393V21.3132H78.0879V26.8608H73.3838Z' fill='white'/%3E%3Cpath d='M107.434 32.7493H111.386V21.1948H107.434V24.7934H103.315V27.6055H107.434V32.7493Z' fill='white'/%3E%3Cpath d='M18.8028 35.1855H3.76367V41.638C3.76367 43.5869 5.31776 44.993 7.45027 44.993H19.6809V36.0626C19.6809 35.5753 19.2836 35.1855 18.8028 35.1855ZM15.7294 42.1531H9.09496C8.13323 42.1531 7.72206 41.7772 7.70813 40.935V38.0394H15.7294V42.1531Z' fill='white'/%3E%3Cpath d='M19.9453 21.6542V21.522H3.54722V24.3688H15.8127C15.8127 24.5568 15.8127 24.7934 15.8127 25.0231C15.8127 27.6681 15.6802 29.4083 15.6106 30.1183H0V32.9651H24.05V30.1183H19.1299C19.3668 29.2273 19.9522 26.4709 19.9522 21.6542H19.9453Z' fill='white'/%3E%3Cpath d='M44.5044 36.6194C47.7868 35.9025 50.212 33.4454 50.212 30.5359C50.212 28.9698 49.5081 27.5359 48.3512 26.4292H52.5466V23.5823H44.5044V20.8955H40.5599V23.5823H32.5177V26.4292H36.713C35.5562 27.5359 34.8523 28.9628 34.8523 30.5359C34.8523 33.4524 37.2775 35.9025 40.5669 36.6194V39.5011H30.5176V42.3479H54.5606V39.5011H44.5113V36.6194H44.5044ZM38.9083 30.4454C38.9083 28.5034 40.532 26.9164 42.5252 26.9164C44.5183 26.9164 46.1421 28.4964 46.1421 30.4454C46.1421 32.3943 44.5183 33.9744 42.5252 33.9744C40.532 33.9744 38.9083 32.3943 38.9083 30.4454Z' fill='white'/%3E%3Cpath d='M99.8795 32.5056H103.705C103.545 31.5799 102.144 24.1042 98.4996 21.5149H94.0882L90.6943 32.5961H94.6597L96.9177 24.6193C98.8202 26.8467 99.7471 31.7748 99.8725 32.5056H99.8795Z' fill='white'/%3E%3Cpath d='M100.667 42.2504C99.6635 42.2504 99.4823 41.9928 99.4823 41.1436V40.7887H111.392V34.8026C111.392 34.2875 111.016 33.8838 110.479 33.8838H95.6006V36.6262H107.608V38.0949H95.7051V41.6378C95.7051 43.6912 97.1826 44.9928 99.3917 44.9928H111.65V42.2504H100.667Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_34_278'%3E%3Crect width='136' height='45' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

@media screen and (min-width:1025px){
    /*1025px이상일 경우 - pc형*/
    header .gnb button {
        display: none; /*숨김*/
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex;
        text-align: center;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 144px;
        position: relative; /*depth2 정렬의 기준*/
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block; /*li와 사이즈 동일*/
        line-height: 100px; /*header의 높이와 동일한 값*/
        font-size: 20px;
        font-weight: 700;
    }
    header .gnb .gnb_wrap ul.depth1 > li.on > a {
        color: #FF3535;
    }
    header .gnb .gnb_wrap ul.depth1 > li.on > a > span {
        position: relative; /*after 정렬의 기본*/
    }
    header .gnb .gnb_wrap ul.depth1 > li.on > a > span::after {
        position: absolute;
        right: -10px;
        top: -3px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #FF3535;
        content: "";
    }
    header .gnb .gnb_wrap ul.depth2 {
        display: none; /*2차메뉴는 오버한 경우에만 보임*/
        position: absolute;
        left: 0;
        top: 100px; /*header 높이만큼*/
        width: 100%;
        padding-top: 33px;
        /*1차메뉴 a와 2차메뉴 사이의 여백은
        반드시 padding으로 줘야함
        padding으로 안주면 2차메뉴로 이동시 메뉴가 아웃됨*/
    }
    header .gnb .gnb_wrap ul.depth2 > li > a {
        display: block;
        line-height: 2;
        color: #fff;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a:hover {
        font-weight: 700;
        color: #FF3535;
    }
    header .tnb {
        display: flex;
        margin-top: 35px;
        align-items: center;
    }
    header .tnb .lang {
        display: block;
        padding-left: 28px;
        /*왼쪽에 아이콘 들어갈 자리 - 내부 여백으로 처리
        아이콘을 클릭해도 링크가 적용되어야 함
        (아이콘까지 a태그여야 함)*/
        position: relative;
        margin-right: 37px; /*artera 와의 여백*/
    }
    header .tnb .lang::before {
        position: absolute;
        left: 0;
        top: -3px;
        width: 24px;
        height: 24px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_19_257' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_19_257)'%3E%3Cpath d='M12 21.5C10.6975 21.5 9.46833 21.2503 8.3125 20.751C7.15667 20.2517 6.14867 19.5718 5.2885 18.7115C4.42817 17.8513 3.74833 16.8433 3.249 15.6875C2.74967 14.5317 2.5 13.3025 2.5 12C2.5 10.6872 2.74967 9.45542 3.249 8.30475C3.74833 7.15408 4.42817 6.14867 5.2885 5.2885C6.14867 4.42817 7.15667 3.74833 8.3125 3.249C9.46833 2.74967 10.6975 2.5 12 2.5C13.3128 2.5 14.5446 2.74967 15.6953 3.249C16.8459 3.74833 17.8513 4.42817 18.7115 5.2885C19.5718 6.14867 20.2517 7.15408 20.751 8.30475C21.2503 9.45542 21.5 10.6872 21.5 12C21.5 13.3025 21.2503 14.5317 20.751 15.6875C20.2517 16.8433 19.5718 17.8513 18.7115 18.7115C17.8513 19.5718 16.8459 20.2517 15.6953 20.751C14.5446 21.2503 13.3128 21.5 12 21.5ZM12 19.9788C12.5103 19.3019 12.9398 18.6192 13.2885 17.9307C13.6372 17.2422 13.9212 16.4897 14.1405 15.673H9.8595C10.0917 16.5153 10.3789 17.2808 10.7213 17.9693C11.0634 18.6578 11.4897 19.3276 12 19.9788ZM10.0635 19.7038C9.68017 19.1538 9.33592 18.5285 9.03075 17.828C8.72558 17.1273 8.48842 16.409 8.31925 15.673H4.927C5.45517 16.7115 6.1635 17.584 7.052 18.2905C7.9405 18.9968 8.94433 19.4679 10.0635 19.7038ZM13.9365 19.7038C15.0557 19.4679 16.0595 18.9968 16.948 18.2905C17.8365 17.584 18.5448 16.7115 19.073 15.673H15.6807C15.4794 16.4153 15.2262 17.1368 14.921 17.8375C14.616 18.5382 14.2878 19.1602 13.9365 19.7038ZM4.298 14.173H8.0155C7.95267 13.8013 7.90708 13.4369 7.87875 13.0798C7.85058 12.7227 7.8365 12.3628 7.8365 12C7.8365 11.6372 7.85058 11.2773 7.87875 10.9202C7.90708 10.5631 7.95267 10.1987 8.0155 9.827H4.298C4.20183 10.1667 4.12817 10.5198 4.077 10.8865C4.02567 11.2532 4 11.6243 4 12C4 12.3757 4.02567 12.7468 4.077 13.1135C4.12817 13.4802 4.20183 13.8333 4.298 14.173ZM9.51525 14.173H14.4848C14.5474 13.8013 14.5929 13.4402 14.6212 13.0895C14.6494 12.7388 14.6635 12.3757 14.6635 12C14.6635 11.6243 14.6494 11.2612 14.6212 10.9105C14.5929 10.5598 14.5474 10.1987 14.4848 9.827H9.51525C9.45258 10.1987 9.40708 10.5598 9.37875 10.9105C9.35058 11.2612 9.3365 11.6243 9.3365 12C9.3365 12.3757 9.35058 12.7388 9.37875 13.0895C9.40708 13.4402 9.45258 13.8013 9.51525 14.173ZM15.9845 14.173H19.702C19.7982 13.8333 19.8718 13.4802 19.923 13.1135C19.9743 12.7468 20 12.3757 20 12C20 11.6243 19.9743 11.2532 19.923 10.8865C19.8718 10.5198 19.7982 10.1667 19.702 9.827H15.9845C16.0473 10.1987 16.0929 10.5631 16.1212 10.9202C16.1494 11.2773 16.1635 11.6372 16.1635 12C16.1635 12.3628 16.1494 12.7227 16.1212 13.0798C16.0929 13.4369 16.0473 13.8013 15.9845 14.173ZM15.6807 8.327H19.073C18.5385 7.27567 17.835 6.40317 16.9625 5.7095C16.09 5.016 15.0813 4.54167 13.9365 4.2865C14.3198 4.8685 14.6608 5.50508 14.9595 6.19625C15.2583 6.88725 15.4987 7.5975 15.6807 8.327ZM9.8595 8.327H14.1405C13.9083 7.491 13.6163 6.72075 13.2645 6.01625C12.9125 5.31175 12.491 4.64675 12 4.02125C11.509 4.64675 11.0875 5.31175 10.7355 6.01625C10.3837 6.72075 10.0917 7.491 9.8595 8.327ZM4.927 8.327H8.31925C8.50125 7.5975 8.74167 6.88725 9.0405 6.19625C9.33917 5.50508 9.68017 4.8685 10.0635 4.2865C8.91217 4.54167 7.90192 5.01767 7.03275 5.7145C6.16342 6.41117 5.4615 7.282 4.927 8.327Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
        content: "";
    }
    header .tnb .artera {
        display: block;
        width: 119px;
        height: 29px;
        line-height: 29px;
        /*행간과 높이를 동일하게 주면 글자가 위아래 가운데 왼쪽 여백은 padding으로 주기*/
        padding-left: 18px;
        border: 1px solid #fff;
        border-radius: 15px;
        position: relative;
    }
    header .tnb .artera::after {
        position: absolute;
        right: 16px;
        top: 1px;
        width: 24px;
        height: 24px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_29_88' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_29_88)'%3E%3Cpath d='M5.30775 20.5C4.80258 20.5 4.375 20.325 4.025 19.975C3.675 19.625 3.5 19.1974 3.5 18.6923V5.30775C3.5 4.80258 3.675 4.375 4.025 4.025C4.375 3.675 4.80258 3.5 5.30775 3.5H10.8652C11.0781 3.5 11.2563 3.57183 11.4 3.7155C11.5435 3.859 11.6152 4.03717 11.6152 4.25C11.6152 4.46283 11.5435 4.641 11.4 4.7845C11.2563 4.92817 11.0781 5 10.8652 5H5.30775C5.23075 5 5.16025 5.03208 5.09625 5.09625C5.03208 5.16025 5 5.23075 5 5.30775V18.6923C5 18.7692 5.03208 18.8398 5.09625 18.9038C5.16025 18.9679 5.23075 19 5.30775 19H18.6923C18.7692 19 18.8398 18.9679 18.9038 18.9038C18.9679 18.8398 19 18.7692 19 18.6923V13.1348C19 12.9219 19.0718 12.7437 19.2155 12.6C19.359 12.4565 19.5372 12.3848 19.75 12.3848C19.9628 12.3848 20.141 12.4565 20.2845 12.6C20.4282 12.7437 20.5 12.9219 20.5 13.1348V18.6923C20.5 19.1974 20.325 19.625 19.975 19.975C19.625 20.325 19.1974 20.5 18.6923 20.5H5.30775ZM19 6.05375L10.2463 14.8077C10.1077 14.9461 9.93367 15.0169 9.724 15.0203C9.5145 15.0234 9.33725 14.9526 9.19225 14.8077C9.04742 14.6627 8.975 14.4871 8.975 14.2808C8.975 14.0744 9.04742 13.8988 9.19225 13.7537L17.9462 5H14.75C14.5372 5 14.359 4.92817 14.2155 4.7845C14.0718 4.641 14 4.46283 14 4.25C14 4.03717 14.0718 3.859 14.2155 3.7155C14.359 3.57183 14.5372 3.5 14.75 3.5H19.596C19.8538 3.5 20.0689 3.58625 20.2413 3.75875C20.4138 3.93108 20.5 4.14617 20.5 4.404V9.25C20.5 9.46283 20.4282 9.641 20.2845 9.7845C20.141 9.92817 19.9628 10 19.75 10C19.5372 10 19.359 9.92817 19.2155 9.7845C19.0718 9.641 19 9.46283 19 9.25V6.05375Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
        content: "";
    }
    header.fixed .tnb .lang:hover {
        color: #FF3535;
    }
    header.fixed .tnb .lang:hover::before {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_34_322' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_34_322)'%3E%3Cpath d='M12 21.5C10.6975 21.5 9.46833 21.2503 8.3125 20.751C7.15667 20.2517 6.14867 19.5718 5.2885 18.7115C4.42817 17.8513 3.74833 16.8433 3.249 15.6875C2.74967 14.5317 2.5 13.3025 2.5 12C2.5 10.6872 2.74967 9.45542 3.249 8.30475C3.74833 7.15408 4.42817 6.14867 5.2885 5.2885C6.14867 4.42817 7.15667 3.74833 8.3125 3.249C9.46833 2.74967 10.6975 2.5 12 2.5C13.3128 2.5 14.5446 2.74967 15.6953 3.249C16.8459 3.74833 17.8513 4.42817 18.7115 5.2885C19.5718 6.14867 20.2517 7.15408 20.751 8.30475C21.2503 9.45542 21.5 10.6872 21.5 12C21.5 13.3025 21.2503 14.5317 20.751 15.6875C20.2517 16.8433 19.5718 17.8513 18.7115 18.7115C17.8513 19.5718 16.8459 20.2517 15.6953 20.751C14.5446 21.2503 13.3128 21.5 12 21.5ZM12 19.9788C12.5103 19.3019 12.9398 18.6192 13.2885 17.9307C13.6372 17.2422 13.9212 16.4897 14.1405 15.673H9.8595C10.0917 16.5153 10.3789 17.2808 10.7213 17.9693C11.0634 18.6578 11.4897 19.3276 12 19.9788ZM10.0635 19.7038C9.68017 19.1538 9.33592 18.5285 9.03075 17.828C8.72558 17.1273 8.48842 16.409 8.31925 15.673H4.927C5.45517 16.7115 6.1635 17.584 7.052 18.2905C7.9405 18.9968 8.94433 19.4679 10.0635 19.7038ZM13.9365 19.7038C15.0557 19.4679 16.0595 18.9968 16.948 18.2905C17.8365 17.584 18.5448 16.7115 19.073 15.673H15.6807C15.4794 16.4153 15.2262 17.1368 14.921 17.8375C14.616 18.5382 14.2878 19.1602 13.9365 19.7038ZM4.298 14.173H8.0155C7.95267 13.8013 7.90708 13.4369 7.87875 13.0798C7.85058 12.7227 7.8365 12.3628 7.8365 12C7.8365 11.6372 7.85058 11.2773 7.87875 10.9202C7.90708 10.5631 7.95267 10.1987 8.0155 9.827H4.298C4.20183 10.1667 4.12817 10.5198 4.077 10.8865C4.02567 11.2532 4 11.6243 4 12C4 12.3757 4.02567 12.7468 4.077 13.1135C4.12817 13.4802 4.20183 13.8333 4.298 14.173ZM9.51525 14.173H14.4848C14.5474 13.8013 14.5929 13.4402 14.6212 13.0895C14.6494 12.7388 14.6635 12.3757 14.6635 12C14.6635 11.6243 14.6494 11.2612 14.6212 10.9105C14.5929 10.5598 14.5474 10.1987 14.4848 9.827H9.51525C9.45258 10.1987 9.40708 10.5598 9.37875 10.9105C9.35058 11.2612 9.3365 11.6243 9.3365 12C9.3365 12.3757 9.35058 12.7388 9.37875 13.0895C9.40708 13.4402 9.45258 13.8013 9.51525 14.173ZM15.9845 14.173H19.702C19.7982 13.8333 19.8718 13.4802 19.923 13.1135C19.9743 12.7468 20 12.3757 20 12C20 11.6243 19.9743 11.2532 19.923 10.8865C19.8718 10.5198 19.7982 10.1667 19.702 9.827H15.9845C16.0473 10.1987 16.0929 10.5631 16.1212 10.9202C16.1494 11.2773 16.1635 11.6372 16.1635 12C16.1635 12.3628 16.1494 12.7227 16.1212 13.0798C16.0929 13.4369 16.0473 13.8013 15.9845 14.173ZM15.6807 8.327H19.073C18.5385 7.27567 17.835 6.40317 16.9625 5.7095C16.09 5.016 15.0813 4.54167 13.9365 4.2865C14.3198 4.8685 14.6608 5.50508 14.9595 6.19625C15.2583 6.88725 15.4987 7.5975 15.6807 8.327ZM9.8595 8.327H14.1405C13.9083 7.491 13.6163 6.72075 13.2645 6.01625C12.9125 5.31175 12.491 4.64675 12 4.02125C11.509 4.64675 11.0875 5.31175 10.7355 6.01625C10.3837 6.72075 10.0917 7.491 9.8595 8.327ZM4.927 8.327H8.31925C8.50125 7.5975 8.74167 6.88725 9.0405 6.19625C9.33917 5.50508 9.68017 4.8685 10.0635 4.2865C8.91217 4.54167 7.90192 5.01767 7.03275 5.7145C6.16342 6.41117 5.4615 7.282 4.927 8.327Z' fill='%23FF3535'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    header .tnb .artera:hover {
        border: 1px solid #FF3535;
        background-color: #FF3535;
    }

    /*메뉴에 마우스를 오버한 경우*/
    
    header.menu_over::before {
        position: absolute; /*header를 기준으로 정렬*/
        left: 0;
        top: 0;
        z-index: -1;
        /*정렬의 기준이 되는 header 내부에서
        가장 하단으로 배치한다는 명령
        -- visual 아래로는 내려가지 않음*/
        width: 100%;
        height: 434px;
        background-color: #1d1d1d;
        content: "";
    }
    header.menu_over::after {
        position: absolute;
        left: 0;
        top: 0;
        width: 100px;
        height: 1px;
        background-color: #ffffff;
        content: "";
    }
    header.menu_over .gnb .gnb_wrap ul.depth2 {
        display: block;
    }
}/*media*/