@import url(fonts.css);
@import url(default.css);
@import url(common.css);
@import url(layout.css);

.visual h2 {
    display: none; /*숨*/
}
.visual ul li {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; /*브라우저 높이만큼*/
    min-height: 430px; /*최소 높이*/
    color: #fff;
    text-align: center;
}
.visual ul li.bg1 {
    background-image: url(../images/main/visual_bg1.png);
}
.visual ul li.bg2 {
    background-image: url(../images/main/visual_bg2.png);
}
.visual ul li.bg3 {
    background-image: url(../images/main/visual_bg3.png);
}
.visual ul li h3 {
    margin: 35vh 0 0 0;
    font-size: 45px;
    font-weight: 700;
    line-height: 1
}
.visual ul li p {
    margin: 28px 0 0 0;
    font-size: 20px;
}
.visual .btn_wrap {
    position: absolute; /*swiper를 기준으로 정렬*/
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, 0);
    /*  정렬이 되는 기준 swiper의 넓이의 왼쪽 50%부터 (left:50%) 정렬
        btn_wrap 넓이의 절반을 왼쪽으로 이동 (transform)
        그럼 가운데 정렬이 됨*/
    z-index: 10;
    color: #fff;
    display: flex;
    align-items: center;
}
.visual .btn_wrap .paging {
    width: auto; /*swiper가 준 width:100% 속성 삭제*/
    display: flex;
}
.visual .btn_wrap .paging .swiper-pagination-bullet {
    /*현재 선택되지 않은 불렛*/
    width: 126px;
    height: 4px;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 1;
    position: relative;
}
.visual .btn_wrap .paging .swiper-pagination-bullet-active::before {
    /*현재 선택된 불렛*/
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #fff;
    content: "";
    animation-name: visual_count;
    animation-duration: 5s; /*3초동안*/
    animation-iteration-count: 1; /*1번만 실행*/
    animation-fill-mode: forwards;
    /*애니메이션 종료 후 마지막 유지, 애니메이션 반복 횟수가 제한되었을 때*/
    animation-timing-function: linear; /*가속도 삭제*/
}
@keyframes visual_count {
    0% { width: 0; }
    100% { width: 100%; }
}
.visual .btn_wrap button {
    width: 24px;
    height: 24px;
    font-size: 0;
    line-height: 0;
    position: relative; /*before 정렬의 기준*/
    margin-left: 2px;
}
.visual .btn_wrap button::before {
    position: absolute; /*button을 기준으로 정렬*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.visual .btn_wrap button.btn_prev::before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.96925 10L11.527 7.44225C11.6653 7.30542 11.7345 7.13433 11.7345 6.929C11.7345 6.72383 11.6653 6.54683 11.527 6.398C11.3782 6.243 11.1999 6.16708 10.9923 6.17025C10.7846 6.17342 10.6064 6.24933 10.4578 6.398L7.4885 9.36725C7.30767 9.54808 7.21725 9.759 7.21725 10C7.21725 10.241 7.30767 10.4519 7.4885 10.6327L10.473 13.6172C10.6218 13.7659 10.7975 13.8393 11 13.8375C11.2025 13.8355 11.3782 13.757 11.527 13.602C11.6653 13.4532 11.7355 13.2775 11.7375 13.075C11.7393 12.8725 11.6659 12.6968 11.5173 12.548L8.96925 10ZM9.99825 0.499999C11.3123 0.499999 12.5473 0.749332 13.7035 1.248C14.8597 1.74667 15.8653 2.42342 16.7205 3.27825C17.5757 4.13308 18.2528 5.13833 18.7518 6.294C19.2506 7.44967 19.5 8.68442 19.5 9.99825C19.5 11.3123 19.2507 12.5473 18.752 13.7035C18.2533 14.8597 17.5766 15.8653 16.7218 16.7205C15.8669 17.5757 14.8617 18.2527 13.706 18.7517C12.5503 19.2506 11.3156 19.5 10.0017 19.5C8.68775 19.5 7.45267 19.2507 6.2965 18.752C5.14033 18.2533 4.13467 17.5766 3.2795 16.7217C2.42433 15.8669 1.74725 14.8617 1.24825 13.706C0.749417 12.5503 0.500001 11.3156 0.500001 10.0017C0.500001 8.68775 0.749333 7.45266 1.248 6.2965C1.74667 5.14033 2.42342 4.13466 3.27825 3.2795C4.13308 2.42433 5.13833 1.74725 6.294 1.24825C7.44967 0.749415 8.68442 0.499999 9.99825 0.499999ZM10 2C7.76667 2 5.875 2.775 4.325 4.325C2.775 5.875 2 7.76666 2 10C2 12.2333 2.775 14.125 4.325 15.675C5.875 17.225 7.76667 18 10 18C12.2333 18 14.125 17.225 15.675 15.675C17.225 14.125 18 12.2333 18 10C18 7.76667 17.225 5.875 15.675 4.325C14.125 2.775 12.2333 2 10 2Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_stop::before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.15425 13.75C8.36675 13.75 8.54483 13.6781 8.6885 13.5343C8.832 13.3906 8.90375 13.2125 8.90375 13V7C8.90375 6.7875 8.83183 6.60942 8.688 6.46575C8.54433 6.32192 8.36617 6.25 8.1535 6.25C7.941 6.25 7.76292 6.32192 7.61925 6.46575C7.47575 6.60942 7.404 6.7875 7.404 7V13C7.404 13.2125 7.47583 13.3906 7.6195 13.5343C7.76333 13.6781 7.94158 13.75 8.15425 13.75ZM11.8465 13.75C12.059 13.75 12.2371 13.6781 12.3807 13.5343C12.5243 13.3906 12.596 13.2125 12.596 13V7C12.596 6.7875 12.5242 6.60942 12.3805 6.46575C12.2367 6.32192 12.0584 6.25 11.8458 6.25C11.6333 6.25 11.4552 6.32192 11.3115 6.46575C11.168 6.60942 11.0962 6.7875 11.0962 7V13C11.0962 13.2125 11.1682 13.3906 11.312 13.5343C11.4557 13.6781 11.6338 13.75 11.8465 13.75ZM10.0017 19.5C8.68775 19.5 7.45267 19.2507 6.2965 18.752C5.14033 18.2533 4.13467 17.5766 3.2795 16.7218C2.42433 15.8669 1.74725 14.8617 1.24825 13.706C0.749417 12.5503 0.5 11.3156 0.5 10.0017C0.5 8.68775 0.749333 7.45267 1.248 6.2965C1.74667 5.14033 2.42342 4.13467 3.27825 3.2795C4.13308 2.42433 5.13833 1.74725 6.294 1.24825C7.44967 0.749417 8.68442 0.5 9.99825 0.5C11.3123 0.5 12.5473 0.749333 13.7035 1.248C14.8597 1.74667 15.8653 2.42342 16.7205 3.27825C17.5757 4.13308 18.2528 5.13833 18.7518 6.294C19.2506 7.44967 19.5 8.68442 19.5 9.99825C19.5 11.3123 19.2507 12.5473 18.752 13.7035C18.2533 14.8597 17.5766 15.8653 16.7218 16.7205C15.8669 17.5757 14.8617 18.2528 13.706 18.7518C12.5503 19.2506 11.3156 19.5 10.0017 19.5ZM10 18C12.2333 18 14.125 17.225 15.675 15.675C17.225 14.125 18 12.2333 18 10C18 7.76667 17.225 5.875 15.675 4.325C14.125 2.775 12.2333 2 10 2C7.76667 2 5.875 2.775 4.325 4.325C2.775 5.875 2 7.76667 2 10C2 12.2333 2.775 14.125 4.325 15.675C5.875 17.225 7.76667 18 10 18Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_play {
    display: none; /*현재 play 중이라 일시정지버튼만 나옴*/
}
.visual .btn_wrap button.btn_play::before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.79425 13.3652L13.15 10.5673C13.364 10.4314 13.471 10.2427 13.471 10.001C13.471 9.75933 13.364 9.56992 13.15 9.43275L8.79425 6.63475C8.56992 6.48092 8.33975 6.46858 8.10375 6.59775C7.86792 6.72692 7.75 6.92833 7.75 7.202V12.798C7.75 13.0717 7.86792 13.2731 8.10375 13.4022C8.33975 13.5314 8.56992 13.5191 8.79425 13.3652ZM10.0017 19.5C8.68775 19.5 7.45267 19.2507 6.2965 18.752C5.14033 18.2533 4.13467 17.5766 3.2795 16.7218C2.42433 15.8669 1.74725 14.8617 1.24825 13.706C0.749417 12.5503 0.5 11.3156 0.5 10.0017C0.5 8.68775 0.749333 7.45267 1.248 6.2965C1.74667 5.14033 2.42342 4.13467 3.27825 3.2795C4.13308 2.42433 5.13833 1.74725 6.294 1.24825C7.44967 0.749417 8.68442 0.5 9.99825 0.5C11.3123 0.5 12.5473 0.749333 13.7035 1.248C14.8597 1.74667 15.8653 2.42342 16.7205 3.27825C17.5757 4.13308 18.2528 5.13833 18.7518 6.294C19.2506 7.44967 19.5 8.68442 19.5 9.99825C19.5 11.3123 19.2507 12.5473 18.752 13.7035C18.2533 14.8597 17.5766 15.8653 16.7218 16.7205C15.8669 17.5757 14.8617 18.2528 13.706 18.7518C12.5503 19.2506 11.3156 19.5 10.0017 19.5ZM10 18C12.2333 18 14.125 17.225 15.675 15.675C17.225 14.125 18 12.2333 18 10C18 7.76667 17.225 5.875 15.675 4.325C14.125 2.775 12.2333 2 10 2C7.76667 2 5.875 2.775 4.325 4.325C2.775 5.875 2 7.76667 2 10C2 12.2333 2.775 14.125 4.325 15.675C5.875 17.225 7.76667 18 10 18Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_next::before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0307 10L8.473 12.5577C8.33467 12.6946 8.2655 12.8657 8.2655 13.071C8.2655 13.2762 8.33467 13.4532 8.473 13.602C8.62183 13.757 8.80008 13.8329 9.00775 13.8298C9.21542 13.8266 9.39358 13.7507 9.54225 13.602L12.5115 10.6328C12.6923 10.4519 12.7828 10.241 12.7828 10C12.7828 9.759 12.6923 9.54808 12.5115 9.36725L9.527 6.38275C9.37817 6.23408 9.2025 6.16067 9 6.1625C8.7975 6.1645 8.62183 6.243 8.473 6.398C8.33467 6.54683 8.2645 6.7225 8.2625 6.925C8.26067 7.1275 8.33408 7.30317 8.48275 7.452L11.0307 10ZM10.0017 19.5C8.68775 19.5 7.45267 19.2507 6.2965 18.752C5.14033 18.2533 4.13467 17.5766 3.2795 16.7218C2.42433 15.8669 1.74725 14.8617 1.24825 13.706C0.749417 12.5503 0.5 11.3156 0.5 10.0017C0.5 8.68775 0.749333 7.45267 1.248 6.2965C1.74667 5.14033 2.42342 4.13467 3.27825 3.2795C4.13308 2.42433 5.13833 1.74725 6.294 1.24825C7.44967 0.749417 8.68442 0.5 9.99825 0.5C11.3123 0.5 12.5473 0.749333 13.7035 1.248C14.8597 1.74667 15.8653 2.42342 16.7205 3.27825C17.5757 4.13308 18.2528 5.13833 18.7518 6.294C19.2506 7.44967 19.5 8.68442 19.5 9.99825C19.5 11.3123 19.2507 12.5473 18.752 13.7035C18.2533 14.8597 17.5766 15.8653 16.7218 16.7205C15.8669 17.5757 14.8617 18.2528 13.706 18.7518C12.5503 19.2506 11.3156 19.5 10.0017 19.5ZM10 18C12.2333 18 14.125 17.225 15.675 15.675C17.225 14.125 18 12.2333 18 10C18 7.76667 17.225 5.875 15.675 4.325C14.125 2.775 12.2333 2 10 2C7.76667 2 5.875 2.775 4.325 4.325C2.775 5.875 2 7.76667 2 10C2 12.2333 2.775 14.125 4.325 15.675C5.875 17.225 7.76667 18 10 18Z' fill='white'/%3E%3C/svg%3E%0A");
}

        @media screen and (max-width:1300px){
            .visual ul li h3 {
                font-size: 38px;
                margin: 40vh 0 0 0;
            }
            .visual ul li p {
                margin: 20px 0 0 0;
            }
        }
        @media screen and (max-width:1024px){
            
        }
        @media screen and (max-width:768px){
            .visual ul li {
                height: 576px;
                min-height: auto; /*최소 높이 해제*/
            }
            .visual ul li h3 {
                margin: 230px 0 0 0;
                font-size: 28px;
            }
            .visual ul li p {
                margin: 16px 0 0 0;
                font-size: 13px;
            }
            .visual .btn_wrap button.btn_prev {
                display: none;
            }
            .visual .btn_wrap button.btn_next {
                display: none;
            }
            .visual .btn_wrap .paging .swiper-pagination-bullet {
                width: 80px;
                height: 3px;
            }
        }
        @media screen and (max-width:480px){
            
        }

section .tit h2 {
    font-size: 20px;
    color: #ED1C24;
    margin: 123px 0 0 0;
}
section .tit h2 span {
    position: relative; /*after 정렬의 기준*/
}
section .tit h2 span::after {
    position: absolute;
    right: -27px;
    top: -13px;
    width: 27px;
    height: 27px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 10.7279C0 11.1011 0.0542904 11.4879 0.203612 11.8543C0.861983 13.4828 2.53845 14.4871 4.66968 13.6389C5.17873 13.4353 19.276 7.75584 19.276 7.75584C19.276 7.75584 13.724 21.829 13.5136 22.3515C12.7059 24.3668 13.6765 26.1921 15.3258 26.8028C15.6923 26.9385 16.0724 27.0063 16.4457 26.9995C17.7964 26.9928 18.9842 26.1988 19.5679 24.611C19.6561 24.3735 26.5995 5.31305 26.7489 4.85842C26.8371 4.587 27 3.94917 27 3.50811C27 2.56492 26.6538 1.67602 25.9819 1.00426C25.3235 0.339275 24.4412 0 23.5113 0C23.0566 0 22.69 0.0814261 22.1335 0.257849C21.8009 0.366417 3.90272 7.023 2.37557 7.59298C0.848416 8.16297 -3.72866e-06 9.38436 0.0067836 10.7279' fill='%23ED1C24'/%3E%3C/svg%3E%0A");
    content: "";
}
section .tit p {
    font-size: 45px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 15px 0 49px 0;
}
.biz .list ul {
    display: flex;
}
.biz .list ul li {
    width: 25%;
    color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; /*before 정렬의 기준*/
    transition: 0.5s;
}
.biz .list ul li.biz1 {
    background-image: url(../images/main/biz1.png);
}
.biz .list ul li.biz2 {
    background-image: url(../images/main/biz2.png);
}
.biz .list ul li.biz3 {
    background-image: url(../images/main/biz3.png);
}
.biz .list ul li.biz4 {
    background-image: url(../images/main/biz4.png);
}
.biz .list ul li::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
    content: "";
}
.biz .list ul li a {
    display: block;
    height: 618px;
    position: relative;
    z-index: 10;
    /*
        <li>
            ::before -- li::before (position 값이 있음)
            <a></a>
        </li>

        --li의 before가 position값이 있으면 a보다 더 위에 배치
          a를 before 위에 배치하려면
          a position 값을 주고 z-index를 줌
    */
}
.biz .list ul li a .inner {
    margin: 0 5%;
    /* a를 기준으로 정렬
       마우스 오버했을때 효과를 부드럽게 주기 위해 absolute */
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 90%;
    transition: 0.5s;
}
.biz .list ul li a .inner strong {
    display: block;
    font-size: 18px;
}
.biz .list ul li a .inner h3 {
    font-size: 45px;
    line-height: 1;
    margin: 0 0 15px 0;
    transition: 0.5s;
    white-space: nowrap;
}
.biz .list ul li a .inner p {
    display: none;
    opacity: 0;
    transition: 0.5s;
}
        @media screen and (min-width:769px){
            /*하나의 li에 오버했을때*/
            .biz .list ul li.on a .inner {
                bottom: 55px;
            }
            /*
            .biz .list ul li.off {
                width: 17%;
            }
                17 * 3 = 51 + 49 = 100
            */
            .biz .list ul li.off a .inner {
                bottom: 40px;
            }
            .biz .list ul li.on {
                width: 80%;
            }
            .biz .list ul li.on::before {
                opacity: 0;
            }
            .biz .list ul li.off::before {
                opacity: 0.5;
            }
            .biz .list ul li.off a {
                opacity: 0.8; /*a안에 있는 모든 요소가 opasity 0.8*/
            }
            .biz .list ul li.on a .inner h3 {
                font-weight: 700;
            }
            .biz .list ul li.on a .inner p {
                display: block;
                opacity: 1;
            }
        }

        @media screen and (max-width:1300px){
            section .tit p {
                font-size: 32px;
            }
            .biz .list ul li a .inner h3 {
                font-size: 32px;
            }     
        }/*media*/
        @media screen and (max-width:1024px){
            section .tit h2 {
                font-size: 18px;
            }
            section .tit p {
                font-size: 28px;
            }
            .biz .list ul li a .inner strong {
                font-size: 15px;
            }
            .biz .list ul li a .inner h3 {
                font-size: 28px;
            }
            .biz .list ul li a .inner p {
                font-size: 15px;
            }
        }/*media*/
        @media screen and (max-width:768px){
            section .tit h2 {
                font-size: 15px;
                margin: 85px 0 0 0;
            }
            section .tit h2 span::after {
                right: -17px;
                top: -8px;
                width: 17px;
                height: 17px;
            }
            section .tit p {
                font-size: 22px;
            }
            .biz .list ul {
                display: block;
            }
            .biz .list ul li {
                width: auto;
                height: 135px;
            }
            .biz .list ul li a {
                height: 135px;
            }
            .biz .list ul li a .inner {
                /* a를 기준으로 정렬
                마우스 오버했을때 효과를 부드럽게 주기 위해 absolute */
                position: absolute;
                left: 0;
                bottom: 1px;
                width: 100%;
            }
            .biz .list ul li a .inner strong {
                display: block;
                font-size: 13px;
            }
            .biz .list ul li a .inner h3 {
                font-size: 22px;
                line-height: 1;
                margin: 0 0 15px 0;
                transition: 0.5s;
            }
            .biz .list ul li a .inner h3 br {
                display: none;
            }
            .biz .list ul li a .inner p {
                opacity: 0;
                font-size: 13px;
                transition: 0.5s;
            }
        }/*media*/
        @media screen and (max-width:480px){
            section .tit p br {
                display: none;
            }
        }/*media*/

.news .list ul li a {
    display: block;
    border-top: 1px solid #1d1d1d;
}
.news .list ul li a .date {
    display: block; /*span 태그라서 block 요소 처럼*/
    font-size: 45px;
    color: #1d1d1d;
    margin: 36px 0 26px 0;
}
.news .list ul li a h3 {
    font-size: 35px;
    font-weight: 700;
    color: #1d1d1d;
    line-height: 1.1;
    height: 2.2em; /*행간 * 줄수 = 2.2em(단위는 em)*/
    overflow: hidden;
}
.news .list ul li a p {
    margin: 20px 0 0 0;
    /*3줄 제한*/
    line-height: 1.1;
    height: 4.4em; /*행간 * 줄수 = 4.4em(단위는 em)*/
    overflow: hidden;
}
.news .list ul li a:hover {
    position: relative;
}
.news .list ul li a:hover::before {
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 3px;
    background-color: #ED1C24;
    content: "";
}
.news .ctrl_bar {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 48px 0 89px 0;
}
.news .ctrl_bar .scroll {
    position: relative;/*swiper-scroller 정렬의 기준*/
    width: calc(100% - 279px);
}
.news .ctrl_bar .btn_wrap {
    display: flex;
}
.news .ctrl_bar .btn_wrap button {
    width: 33px;
    height: 33px;
    font-size: 0;
    line-height: 0;
    position: relative;
    margin-right: 7px;
}
.news .ctrl_bar .btn_wrap button::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 33px;
    height: 33px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.news .ctrl_bar .btn_wrap button.prev::before {
    background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.4237 17.4413L19.9529 12.9121C20.1979 12.6698 20.3204 12.3669 20.3204 12.0033C20.3204 11.64 20.1979 11.3266 19.9529 11.063C19.6894 10.7885 19.3737 10.6541 19.006 10.6597C18.6383 10.6653 18.3228 10.7998 18.0595 11.063L12.8017 16.3209C12.4814 16.6411 12.3213 17.0146 12.3213 17.4413C12.3213 17.8681 12.4814 18.2416 12.8017 18.5618L18.0865 23.8467C18.3501 24.1099 18.6611 24.2399 19.0197 24.2367C19.3783 24.2331 19.6894 24.0941 19.9529 23.8197C20.1979 23.5561 20.3221 23.245 20.3257 22.8865C20.3289 22.5279 20.1989 22.2168 19.9357 21.9533L15.4237 17.4413ZM17.2459 0.618998C19.5727 0.618998 21.7597 1.06051 23.807 1.94353C25.8543 2.82656 27.6351 4.02493 29.1494 5.53865C30.6637 7.05236 31.8627 8.83243 32.7463 10.8789C33.6296 12.9253 34.0713 15.1117 34.0713 17.4382C34.0713 19.765 33.6298 21.9521 32.7468 23.9994C31.8637 26.0467 30.6654 27.8275 29.1516 29.3418C27.6379 30.8561 25.8579 32.0551 23.8114 32.9387C21.765 33.822 19.5786 34.2637 17.2521 34.2637C14.9253 34.2637 12.7382 33.8222 10.6909 32.9391C8.64359 32.0561 6.86278 30.8577 5.34848 29.344C3.83417 27.8303 2.63521 26.0502 1.7516 24.0038C0.868276 21.9574 0.426618 19.7709 0.426618 17.4444C0.426618 15.1176 0.868132 12.9306 1.75115 10.8833C2.63418 8.83597 3.83255 7.05516 5.34627 5.54086C6.85998 4.02655 8.64005 2.82759 10.6865 1.94398C12.7329 1.06066 14.9194 0.618998 17.2459 0.618998ZM17.249 3.27516C13.2942 3.27516 9.94452 4.6475 7.19982 7.3922C4.45513 10.1369 3.08278 13.4866 3.08278 17.4413C3.08278 21.3961 4.45512 24.7458 7.19982 27.4905C9.94452 30.2352 13.2942 31.6075 17.249 31.6075C21.2037 31.6075 24.5534 30.2352 27.2981 27.4905C30.0428 24.7458 31.4151 21.3961 31.4151 17.4413C31.4151 13.4866 30.0428 10.1369 27.2981 7.3922C24.5534 4.64751 21.2037 3.27516 17.249 3.27516Z' fill='%23FF3535'/%3E%3C/svg%3E%0A");
}
.news .ctrl_bar .btn_wrap button.next::before {
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='35' viewBox='0 0 34 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.9708 17.4405L14.4416 21.9697C14.1967 22.212 14.0742 22.5149 14.0742 22.8785C14.0742 23.2418 14.1967 23.5553 14.4416 23.8188C14.7052 24.0933 15.0208 24.2277 15.3885 24.2221C15.7563 24.2165 16.0718 24.0821 16.335 23.8188L21.5929 18.561C21.9131 18.2407 22.0732 17.8673 22.0732 17.4405C22.0732 17.0137 21.9131 16.6403 21.5929 16.32L16.308 11.0352C16.0445 10.7719 15.7334 10.6419 15.3748 10.6452C15.0162 10.6487 14.7052 10.7877 14.4416 11.0622C14.1967 11.3257 14.0724 11.6368 14.0689 11.9954C14.0656 12.354 14.1956 12.665 14.4589 12.9286L18.9708 17.4405ZM17.1487 34.2628C14.8219 34.2628 12.6348 33.8213 10.5875 32.9383C8.54022 32.0553 6.75941 30.8569 5.2451 29.3432C3.7308 27.8295 2.53184 26.0494 1.64822 24.003C0.764902 21.9566 0.323242 19.7701 0.323242 17.4436C0.323242 15.1168 0.764755 12.9298 1.64778 10.8824C2.5308 8.83514 3.72918 7.05433 5.24289 5.54003C6.75661 4.02572 8.53667 2.82676 10.5831 1.94314C12.6295 1.05982 14.816 0.618164 17.1425 0.618164C19.4693 0.618164 21.6563 1.05968 23.7036 1.9427C25.7509 2.82573 27.5317 4.0241 29.0461 5.53781C30.5604 7.05153 31.7593 8.8316 32.6429 10.878C33.5263 12.9244 33.9679 15.1109 33.9679 17.4374C33.9679 19.7642 33.5264 21.9512 32.6434 23.9986C31.7604 26.0459 30.562 27.8267 29.0483 29.341C27.5346 30.8553 25.7545 32.0542 23.7081 32.9379C21.6616 33.8212 19.4752 34.2628 17.1487 34.2628ZM17.1456 31.6067C21.1003 31.6067 24.45 30.2343 27.1947 27.4896C29.9394 24.7449 31.3118 21.3952 31.3118 17.4405C31.3118 13.4858 29.9394 10.1361 27.1947 7.39137C24.45 4.64667 21.1003 3.27432 17.1456 3.27432C13.1909 3.27432 9.84114 4.64667 7.09645 7.39137C4.35175 10.1361 2.9794 13.4858 2.9794 17.4405C2.9794 21.3952 4.35175 24.7449 7.09645 27.4896C9.84114 30.2343 13.1909 31.6067 17.1456 31.6067Z' fill='%23FF3535'/%3E%3C/svg%3E%0A");
}
.news .ctrl_bar .btn_wrap button:hover.prev::before {
    background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.4237 17.2494L19.9529 12.7202C20.1979 12.4779 20.3204 12.175 20.3204 11.8114C20.3204 11.4481 20.1979 11.1347 19.9529 10.8711C19.6894 10.5966 19.3737 10.4622 19.006 10.4678C18.6383 10.4734 18.3228 10.6079 18.0595 10.8711L12.8017 16.129C12.4814 16.4492 12.3213 16.8227 12.3213 17.2494C12.3213 17.6762 12.4814 18.0497 12.8017 18.3699L18.0865 23.6548C18.3501 23.918 18.6611 24.048 19.0197 24.0448C19.3783 24.0412 19.6894 23.9022 19.9529 23.6278C20.1979 23.3642 20.3221 23.0531 20.3257 22.6946C20.3289 22.336 20.1989 22.0249 19.9357 21.7614L15.4237 17.2494ZM17.2459 0.427103C19.5727 0.427104 21.7597 0.868617 23.807 1.75164C25.8543 2.63467 27.6351 3.83304 29.1494 5.34675C30.6637 6.86047 31.8627 8.64054 32.7463 10.687C33.6296 12.7334 34.0713 14.9198 34.0713 17.2463C34.0713 19.5731 33.6298 21.7602 32.7468 23.8075C31.8637 25.8548 30.6654 27.6356 29.1516 29.1499C27.6379 30.6642 25.8579 31.8632 23.8114 32.7468C21.765 33.6301 19.5786 34.0718 17.2521 34.0718C14.9253 34.0718 12.7382 33.6303 10.6909 32.7472C8.64359 31.8642 6.86278 30.6658 5.34848 29.1521C3.83417 27.6384 2.63521 25.8583 1.7516 23.8119C0.868276 21.7655 0.426618 19.579 0.426618 17.2525C0.426618 14.9257 0.868132 12.7387 1.75115 10.6914C2.63418 8.64407 3.83255 6.86327 5.34627 5.34896C6.85998 3.83466 8.64005 2.6357 10.6865 1.75208C12.7329 0.868761 14.9194 0.427103 17.2459 0.427103Z' fill='%23FF3535'/%3E%3C/svg%3E%0A");
}
.news .ctrl_bar .btn_wrap button:hover.next::before {
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='35' viewBox='0 0 34 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.9708 17.2491L14.4416 21.7783C14.1967 22.0206 14.0742 22.3235 14.0742 22.6871C14.0742 23.0504 14.1967 23.3639 14.4416 23.6274C14.7052 23.9019 15.0208 24.0363 15.3885 24.0307C15.7563 24.0251 16.0718 23.8907 16.335 23.6274L21.5929 18.3696C21.9131 18.0493 22.0732 17.6758 22.0732 17.2491C22.0732 16.8223 21.9131 16.4489 21.5929 16.1286L16.308 10.8438C16.0445 10.5805 15.7334 10.4505 15.3748 10.4538C15.0162 10.4573 14.7052 10.5963 14.4416 10.8708C14.1967 11.1343 14.0724 11.4454 14.0689 11.804C14.0656 12.1626 14.1956 12.4736 14.4589 12.7372L18.9708 17.2491ZM17.1487 34.0714C14.8219 34.0714 12.6348 33.6299 10.5875 32.7469C8.54022 31.8639 6.75941 30.6655 5.2451 29.1518C3.7308 27.6381 2.53184 25.858 1.64822 23.8116C0.764902 21.7652 0.323242 19.5787 0.323242 17.2522C0.323242 14.9254 0.764755 12.7383 1.64778 10.691C2.5308 8.64373 3.72918 6.86292 5.24289 5.34862C6.75661 3.83431 8.53667 2.63535 10.5831 1.75174C12.6295 0.868418 14.816 0.426758 17.1425 0.426758C19.4693 0.426758 21.6563 0.86827 23.7036 1.75129C25.7509 2.63432 27.5317 3.83269 29.0461 5.34641C30.5604 6.86012 31.7593 8.64019 32.6429 10.6866C33.5263 12.733 33.9679 14.9195 33.9679 17.246C33.9679 19.5728 33.5264 21.7598 32.6434 23.8071C31.7604 25.8545 30.562 27.6353 29.0483 29.1496C27.5346 30.6639 25.7545 31.8628 23.7081 32.7465C21.6616 33.6298 19.4752 34.0714 17.1487 34.0714Z' fill='%23FF3535'/%3E%3C/svg%3E%0A");
}
.news .ctrl_bar .btn_wrap .more {
    width: 129px;
    height: 33px;
    color: #ED1C24;
    margin-left: 2px;
    border: 2.7px solid #ED1C24;
    border-radius: 17px;
    padding: 6px 0 0 48px;
    position: relative;
}
.news .ctrl_bar .btn_wrap .more::before {
    position: absolute;
    left: 21px;
    top: 10px;
    width: 20px;
    height: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='11' viewBox='0 0 21 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.17921 1.89858C5.9314 1.89858 5.72364 1.81472 5.55591 1.64699C5.38837 1.47926 5.30461 1.27149 5.30461 1.02369C5.30461 0.775688 5.38837 0.567921 5.55591 0.400386C5.72364 0.233046 5.9314 0.149376 6.17921 0.149376H19.7915C20.0393 0.149376 20.247 0.233241 20.4145 0.40097C20.5823 0.568699 20.6661 0.776466 20.6661 1.02427C20.6661 1.27227 20.5823 1.47994 20.4145 1.64728C20.247 1.81481 20.0393 1.89858 19.7915 1.89858H6.17921ZM6.17921 6.20425C5.9314 6.20425 5.72364 6.12039 5.55591 5.95266C5.38837 5.78493 5.30461 5.57716 5.30461 5.32936C5.30461 5.08136 5.38837 4.87369 5.55591 4.70635C5.72364 4.53882 5.9314 4.45505 6.17921 4.45505H19.7915C20.0393 4.45505 20.247 4.53891 20.4145 4.70664C20.5823 4.87437 20.6661 5.08214 20.6661 5.32994C20.6661 5.57794 20.5823 5.78561 20.4145 5.95295C20.247 6.12049 20.0393 6.20425 19.7915 6.20425H6.17921ZM6.17921 10.5099C5.9314 10.5099 5.72364 10.4261 5.55591 10.2583C5.38837 10.0906 5.30461 9.88284 5.30461 9.63503C5.30461 9.38703 5.38837 9.17936 5.55591 9.01202C5.72364 8.84449 5.9314 8.76072 6.17921 8.76072H19.7915C20.0393 8.76072 20.247 8.84458 20.4145 9.01231C20.5823 9.18004 20.6661 9.38781 20.6661 9.63561C20.6661 9.88361 20.5823 10.0914 20.4145 10.2589C20.247 10.4263 20.0393 10.5099 19.7915 10.5099H6.17921ZM1.78374 1.96593C1.51689 1.96593 1.29319 1.87458 1.11263 1.69188C0.932075 1.50919 0.841797 1.28276 0.841797 1.01261C0.841797 0.749062 0.932075 0.528079 1.11263 0.34966C1.29319 0.171241 1.51689 0.0820312 1.78374 0.0820312C2.0506 0.0820312 2.2743 0.171241 2.45486 0.34966C2.63541 0.528079 2.72569 0.749062 2.72569 1.01261C2.72569 1.28276 2.63541 1.50919 2.45486 1.69188C2.2743 1.87458 2.0506 1.96593 1.78374 1.96593ZM1.78374 6.26023C1.51689 6.26023 1.29319 6.17102 1.11263 5.9926C0.932075 5.81438 0.841797 5.59339 0.841797 5.32965C0.841797 5.05153 0.932075 4.82316 1.11263 4.64455C1.29319 4.46593 1.51689 4.37663 1.78374 4.37663C2.0506 4.37663 2.2743 4.46593 2.45486 4.64455C2.63541 4.82316 2.72569 5.05153 2.72569 5.32965C2.72569 5.59339 2.63541 5.81438 2.45486 5.9926C2.2743 6.17102 2.0506 6.26023 1.78374 6.26023ZM1.78374 10.5773C1.51689 10.5773 1.29319 10.4859 1.11263 10.3032C0.932075 10.1205 0.841797 9.89421 0.841797 9.62424C0.841797 9.3605 0.932075 9.13942 1.11263 8.961C1.29319 8.78258 1.51689 8.69337 1.78374 8.69337C2.0506 8.69337 2.2743 8.78258 2.45486 8.961C2.63541 9.13942 2.72569 9.3605 2.72569 9.62424C2.72569 9.89421 2.63541 10.1205 2.45486 10.3032C2.2743 10.4859 2.0506 10.5773 1.78374 10.5773Z' fill='%23FF3535'/%3E%3C/svg%3E%0A");
    content: "";
}
.news .ctrl_bar .btn_wrap .more:hover {
    background-color: #ED1C24;
    color: #fff;
}
.news .ctrl_bar .btn_wrap .more:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='11' viewBox='0 0 21 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.17921 1.89858C5.9314 1.89858 5.72364 1.81472 5.55591 1.64699C5.38837 1.47926 5.30461 1.27149 5.30461 1.02369C5.30461 0.775688 5.38837 0.567921 5.55591 0.400386C5.72364 0.233046 5.9314 0.149376 6.17921 0.149376H19.7915C20.0393 0.149376 20.247 0.233241 20.4145 0.40097C20.5823 0.568699 20.6661 0.776466 20.6661 1.02427C20.6661 1.27227 20.5823 1.47994 20.4145 1.64728C20.247 1.81481 20.0393 1.89858 19.7915 1.89858H6.17921ZM6.17921 6.20425C5.9314 6.20425 5.72364 6.12039 5.55591 5.95266C5.38837 5.78493 5.30461 5.57716 5.30461 5.32936C5.30461 5.08136 5.38837 4.87369 5.55591 4.70635C5.72364 4.53882 5.9314 4.45505 6.17921 4.45505H19.7915C20.0393 4.45505 20.247 4.53891 20.4145 4.70664C20.5823 4.87437 20.6661 5.08214 20.6661 5.32994C20.6661 5.57794 20.5823 5.78561 20.4145 5.95295C20.247 6.12049 20.0393 6.20425 19.7915 6.20425H6.17921ZM6.17921 10.5099C5.9314 10.5099 5.72364 10.4261 5.55591 10.2583C5.38837 10.0906 5.30461 9.88284 5.30461 9.63503C5.30461 9.38703 5.38837 9.17936 5.55591 9.01202C5.72364 8.84449 5.9314 8.76072 6.17921 8.76072H19.7915C20.0393 8.76072 20.247 8.84458 20.4145 9.01231C20.5823 9.18004 20.6661 9.38781 20.6661 9.63561C20.6661 9.88361 20.5823 10.0914 20.4145 10.2589C20.247 10.4263 20.0393 10.5099 19.7915 10.5099H6.17921ZM1.78374 1.96593C1.51689 1.96593 1.29319 1.87458 1.11263 1.69188C0.932075 1.50919 0.841797 1.28276 0.841797 1.01261C0.841797 0.749062 0.932075 0.528079 1.11263 0.34966C1.29319 0.171241 1.51689 0.0820312 1.78374 0.0820312C2.0506 0.0820312 2.2743 0.171241 2.45486 0.34966C2.63541 0.528079 2.72569 0.749062 2.72569 1.01261C2.72569 1.28276 2.63541 1.50919 2.45486 1.69188C2.2743 1.87458 2.0506 1.96593 1.78374 1.96593ZM1.78374 6.26023C1.51689 6.26023 1.29319 6.17102 1.11263 5.9926C0.932075 5.81438 0.841797 5.59339 0.841797 5.32965C0.841797 5.05153 0.932075 4.82316 1.11263 4.64455C1.29319 4.46593 1.51689 4.37663 1.78374 4.37663C2.0506 4.37663 2.2743 4.46593 2.45486 4.64455C2.63541 4.82316 2.72569 5.05153 2.72569 5.32965C2.72569 5.59339 2.63541 5.81438 2.45486 5.9926C2.2743 6.17102 2.0506 6.26023 1.78374 6.26023ZM1.78374 10.5773C1.51689 10.5773 1.29319 10.4859 1.11263 10.3032C0.932075 10.1205 0.841797 9.89421 0.841797 9.62424C0.841797 9.3605 0.932075 9.13942 1.11263 8.961C1.29319 8.78258 1.51689 8.69337 1.78374 8.69337C2.0506 8.69337 2.2743 8.78258 2.45486 8.961C2.63541 9.13942 2.72569 9.3605 2.72569 9.62424C2.72569 9.89421 2.63541 10.1205 2.45486 10.3032C2.2743 10.4859 2.0506 10.5773 1.78374 10.5773Z' fill='white'/%3E%3C/svg%3E%0A");
}
.news .ctrl_bar .scroll .swiper-scrollbar {
    left: 0%;
    bottom: 13px;
    width: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, .1);
}
.news .ctrl_bar .scroll .swiper-scrollbar .swiper-scrollbar-drag {
    height: 7px;
    background: #ED1C24;
    border-radius: 10px;
    top: -1px;
    cursor: pointer; /*오버할때 마우스 포인터가 손가락으로 변함*/
}
/*
.news .ctrl_bar .scroll .swiper-scrollbar .swiper-scrollbar-drag:hover {
    background: #ED1C24;
}
*/

        @media screen and (max-width:1300px){
            .news .list ul li a .date {
                font-size: 32px;
                color: #1d1d1d;
                margin: 36px 0 26px 0;
            }
            .news .list ul li a h3 {
                font-size: 32px;
            }
        }
        @media screen and (max-width:1024px){
            .news .list ul li {
                width: 404px;
            }
            .news .list ul li a .date {
                font-size: 28px;
            }
            .news .list ul li a h3 {
                font-size: 28px;
            }
        }/*media*/
        @media screen and (max-width:768px){
            .news .list ul li {
                width: 263px;
            }
            .news .list ul li a .date {
                font-size: 22px;
                margin: 21px 0 16px 0;
            }
            .news .list ul li a h3 {
                font-size: 22px;
            }
            .news .ctrl_bar {
                display: block;
                margin: 77px 0 22px 0;
            }
            .news .ctrl_bar .scroll {
                width: auto;
            }
            .news .ctrl_bar .scroll .swiper-scrollbar {
                bottom: 0;
            }
            .news .ctrl_bar .btn_wrap {
                justify-content: center;
            }
            .news .ctrl_bar .btn_wrap button {
                display: none;
            }
            .news .ctrl_bar .btn_wrap .more {
                width: 118px;
                height: 33px;
                margin: 22px 0 82px 0;
                padding: 7px 0 0 48px;
            }
        }/*media*/

.service {
    padding: 109px 0 172px 0;
    /*브라우저 사이즈가 줄어들어서 글자가 여러줄이 되면 높이가 변경됨
    아예 높이를 안주고 위아래 여백을 줌*/
    background: url(../images/main/service_bg.png) no-repeat center center / cover;
}
.service h2 {
    display: none; /*숨김*/
}
section.service .tit p {
    color: #fff;
}
.service .list ul {
    display: flex;
    justify-content: space-between;
}
.service .list ul li {
    width: calc(33.33% - 16px);
    /*
    100/li의 갯수 = 33.33%
    중간여백 총합 24*2 = 48 / li의 갯수 = 48/3 = 16
    calc(33.33% - 16px)
    */
}
.service .list ul li a {
    display: block;
    height: 100px;
    background-color: rgba(255,255,255,0.9);
    transition: 0.5s;
}
.service .list ul li:hover a {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
}
/*
    오버시 이동하는 애니메이션을 주면 오버 범위가 변경되기 때문에 오류가 발생함
    a가 이동하고 a를 감싸는 이동하지 않는 li에 오버를 적용
    :hover를 준 요소는 움직이면 X
*/