header {
    height: 100px;
}
header ul {
    display: flex;
    border-bottom: 1px solid #1d1d1d;
}
header ul li.c_art a:hover {
    color: #EB6534;
}
header ul li.kangwon a:hover {
    color: #344EAD;
}
header ul li.kwang a:hover {
    color: #E8380D;
}
header ul li a {
    display: block;
    width: 437px;
    height: 100px;
    line-height: 1.35;
    border-right: 1px solid #1d1d1d;
}
header ul li a strong {
    font-size: 88px;
    font-weight: 700;
}
header ul li a span {
    font-size: 30px;
}

.info .txt .tit h2 {
    color: #EB6534;
    font-size: 50px;
    font-weight: 700;
}
.info .txt .tit p {
    font-size: 20px;
}
.info .txt .reason h3 {
    font-size: 25px;
    font-weight: 700;
    color: #EB6534;
}
.info .txt .how {
    display: flex;
}
.info .more a {
    display: block;
    width: 183px;
    height: 36px;
}