header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 100; /*모든 요소의 맨위*/
    background-color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
header .gnb ul {
    display: flex;
    border-bottom: 1px solid #1d1d1d;
}
header .gnb_wrap ul li.c_art a:hover {
    color: #EB6534;
}
header .gnb_wrap ul li.kangwon a:hover {
    color: #344EAD;
}
header .gnb_wrap ul li.kwang a:hover {
    color: #E8380D;
}
header .gnb_wrap ul li.main a:hover {
    color: #009444;
}
header .gnb_wrap ul li a {
    display: block;
    width: 437px;
    height: 100px;
    line-height: 1.35;
    border-right: 1px solid #1d1d1d;
}
header .gnb_wrap ul li a strong {
    font-size: 88px;
    font-weight: 700;
}
header .gnb_wrap ul li a span {
    font-size: 30px;
}
header.fixed {
    position: fixed;
    background-color: #fff;
}

footer {
    width: 100%;
    height: 159px;
    background-color: #FCEDE9;
}
footer .f_logo {
    margin: 0 auto;
    font-size: 0;
    line-height: 0;
    width: 342px;
    height: 159px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/f_logo.png);
}