@import url(default.css); /* default.css 불러오기 */

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(../fonts/Pretendard-Regular.woff2) format('woff2'), url(../fonts/Pretendard-Regular.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(../fonts/Pretendard-Bold.woff2) format('woff2'), url(../fonts/Pretendard-Bold.woff) format('woff');
}

html, body {
    /* font-family 사용하는 서체명은 font-face에서 사용한 이름으로 사용, sans-serif는 고딕체라는 의미 */
    font-family: "Pretendard", sans-serif;
    font-size: 15px;
    color: #3d3d3d;
    font-weight: 400; /* 글자두께 */
    line-height: 1.1; /* 행간 */
    word-break: keep-all; /* 단어별로 줄바꿈 */
    letter-spacing: -0.02em; /* 자간 */
}
#wrap { /* 홈페이지 전체를 감싸는 요소 */
    min-width: 1260px;
}
.wrapper { /* 홈페이지 넓이를 제한하고 가운데 정렬 */
    width: 1260px;
    margin: 0 auto;
}

header {
    height: 100px;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin: 32px 0 0 0;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    color: #1d1d1d;
    font-size: 20px;
    line-height: 100px; /* header의 높이오하 동일한 값 */
    /* 행간을 100px을 주면 높이 100px 안에 글자가 위 아래 가운데로 정렬됨*/
    display: block; /* inline 요소인 a를 block 요소로 변경 */
    padding: 0 23.5px; /* 위아래 0 좌우 23.5px*/
}
header .gnb ul li a:hover { /* 마우스를 오버했을 때 */
    font-weight: 700;
    color: #0044f1;
}
.visual {
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    height: 700px;
    color: #fff;
    text-align: center;
}
.visual h2 {
    font-size: 50.14px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.02em;
    padding: 295px 0 18px 0;
}

.biz .tit {
    margin: 165px 0 40px 0;
}
.biz .tit p {
    color: #0044f1;
}
.biz .tit h2 {
    color: #1d1d1d;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -0.02em;
}
.biz .list ul {
    display: flex;
    justify-content: space-between
}
.biz .list ul li {
    width: 297.01px;
    text-align: center;
}
.biz .list ul li a {
    display: block;
}
.biz .list ul li a h3 {
    font-size: 35px;
    color: #1d1d1d;
    margin: 29px 0 24px 0; /*위 - 오른쪽 - 아래 - 왼쪽 */
}
.biz .list ul li a p {
    margin: 0 16px 34px 16px;
}
.biz .list ul li a .more {
    width: 263px;
    height: 53.98px;
    line-height: 53.98px;
    /* 행간을 높이와 동일하게 주면 글자가 위아래 가운데 정렬이 됨 */
    border: 1px solid #ccc;
    display: inline-block;
}
.brand {
    background: url(../images/brand_bg.png) no-repeat center center / cover;
    color: #fff;
    height: 863px;
    margin: 94px 0 0 0;
}
.brand p {
    color: #dfe8ff;
    padding: 310px 0 0 0;
    /* strong 태그 줄 경우 display: block */
}
.brand h2 {
    font-size: 56.27px;
    font-weight: 700;
    line-height: 1.1;
    margin: 0 0 24px 0;
}
.brand a {
    border: 1px solid rgba(255, 255, 255, 0.6);
    padding: 15px 57px; /*위아래 15px 좌우 57px*/
    display: inline-block;
}

footer {
    background-color: #333333;
    color: rgba(255, 255, 255, 0.8);
    padding: 39px 0 77px 0;
}
footer .f_nav ul {
    display: flex;
}
footer .f_nav ul li {
    margin: 0 39px 0 0;
}
/* li.privacy (여백 없음) li 중에서 privacy라는 클래스명을 가진 li를 지칭
   li. privacy (여백 있음) li 안에 privacy라는 클래스명을 가진 요소 */
footer .f_nav ul li.privacy {
    font-weight: 700;
    margin: 0 40px 0 0;
}
footer .f_sub {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin: 39px 0 0 0; /* 선 밖 여백 */
    padding: 40px 0 0 0; /* 선 내부 여백 */
}
footer .f_sub .f_info span {
    margin: 0 39px 10px 0;
    display: inline-block;
}
footer .f_sub .copyright {
    padding: 40px 0 30px 0;
    color: rgba(255, 255, 255, 0.6);
}