@import url(fonts.css);
@import url(default.css);
@import url(common.css);

.sound {
    background: url(../images/sound_bg.png) no-repeat center center / cover;
    color: #fff;
    text-align: center;
    height: 376px;
}
.sound h2 {
    font-size: 36px;
    font-weight: 800;
    line-height: 1;
    padding: 118px 0 22px 0;
}
.sound p {
    margin: 0 396px;
    /* 글자에 좌우 여백이 있어서
    글자가 들어갈 공간을 좁혀 글자가 2줄이 되도록 만들어 줌
    width로 주면 가운데 정렬이 되지 않음 */
    color: rgba(255, 255, 255, 0.8);
}
@media screen and (max-width:640px){
    .sound {
        height: auto;
        /* 높이 설정해준 것 해제 - 원래 스타일대로 적용 
        컨텐츠의 높이에 맞춰서 자동으로 늘어나는 스타일 */
        padding: 0 0 101px 0;
    }
    .sound h2 {
        font-size: 25px;
        padding: 116px 0 14px 0;
    }
    .sound p {
        margin: 0; /*pc에서 준 여백을 삭제하려면 0을 줘야함 */
    }
}/* media */